## Python Loops and Functions

#### Python - While Loop

A While loop repeats as long as a certain condition is true.
Usage:

- The code will run again as long as the condition is true.
- i += 1: Incrementing i every loop is necessary for the loop to have an end.

In [1]:
# Example: Printing numbers from 1 to 5
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [ ]:
# Indentation is important, if you indent incorrectly, an IndentationError will occur. (Interview question!)

num = 0

while num < 5:
    num += 1
    print(f"num: {num}")

num: 1
num: 2
num: 3
num: 4
num: 5

In [ ]:
# DON'T RUN!

# while 10 > 5:
    print("This loop runs forever.")

IndentationError: unexpected indent (3835143777.py, line 4)

In [ ]:
x = 1

while 10 > x:
    print(x)
    x += 1

1
2
3
4
5
6
7
8
9

In [ ]:
x = 1

while 10 > x:
    x += 1
    print(x)

2
3
4
5
6
7
8
9
10

In [ ]:
# DON'T RUN!

x = 1

# while x < 10:
    print('This loop runs forever.')

x += 1

In [ ]:
# This loop will not work.

while False:
    print("Is this place operational?")

In [ ]:
# DON'T RUN!

x = 1

while True:
    print(x, "goes on forever")
    x += 1

In [ ]:
y = True

while y:
    print("The While loop runs until condition becomes False, that is, once.")
    y = False

The While loop runs until condition becomes False, that is, once.

In [ ]:
x = 1

while x <= 3:
    print(f"attempt: {x}")
    x += 1

print("Your 3 attempts are over!")

attempt: 1
attempt: 2
attempt: 3
Your 3 attempts are over!

In [ ]:
# Write code to square the elements of the given list. (While the communication will be resolved!)

numbers_list = [1, 3, 6, 8, 11, 15]

x = 0

while x < len(numbers_list):
    print(numbers_list[x] ** 2)
    x += 1

1
9
36
64
121
225

In [ ]:
# Write a statement that checks the value received from the user with input and if a number greater than 50 is entered,
# it tells the user that the number entered is not correct.
# When a value less than 50 is entered, the loop ends and
# it gives positive feedback to the user.
# The loop receives input from the user until the correct value is entered.

In [ ]:
number = int(input('Please enter a number between 1 and 100:'))

while number > 50:
    print('You did not enter correctly, try again:')
    number = int(input('Please enter a value between 1 and 100:'))

print ('Bravo!')

You did not enter correctly, try again:
You did not enter correctly, try again:
Bravo!

In [ ]:
# Let's add the odd numbers in this list to one list and the even numbers to the other list and give the results.

numbers_list = [1, 15, 2, 36, 5, 89, 45, 62, 52, 71, 30, 56, 45, 95, 61, 48]

odds = []
evens = []

x = 0

while x < len(numbers_list):

    if numbers_list[x] % 2 == 0:
        evens.append(numbers_list[x])
    else:
        odds.append(numbers_list[x])

    x += 1

print(f"List of odd numbers: {odds}")
print(f"List of even numbers: {evens}")

List of odd numbers: [1, 15, 5, 89, 45, 71, 45, 95, 61]
List of even numbers: [2, 36, 62, 52, 30, 56, 48]

### break

In [ ]:
num = 0

while num < 5:
    num += 1
    print(f"num: {num}")

    if num == 3:
        break

num: 1
num: 2
num: 3

In [ ]:
# Add the int values ​​in order. When str is in the expression, the code ends.

list = [1, 2, 3, 4, "Hello", 5, 6, 7]

x = 0

total = 0

while x < len(list):

    if type(list[x]) == int:
        total += list[x]

    elif type(list[x]) == str:
        break

    x += 1

print(total)

10

### continue

In [ ]:
# continue -> Continue late, don't wait!
# The statement after continue is not read, the loop starts.

num = 0

while num < 5:
    num += 1

    if num > 3:
        continue

    print(f"num: {num}")

num: 1
num: 2
num: 3

In [ ]:
# Add the int values ​​in order. When it matches the str expression, skip that expression and continue.

list = [1, "rose", 2, 3, 4, "Hello", 5, 6, 7, "jake"]

x = 0

total = 0

while x < len(list):

    if type(list[x]) == int:
        total += list[x]

    elif type(list[x]) == str:
        x += 1
        continue

    x += 1


print(total)

28

In [ ]:
# Get a number from the user and calculate the factorial of that number.

num = int(input("Enter the number whose factorial is to be calculated:"))

factorial = 1
i = 1

while i <= num:
    factorial *= i # factorial = factorial * i
    i += 1

print(f"{num}! = {factorial}")

5! = 120

In [ ]:
# Get a number from the user and reverse it.

num = int(input("Enter a number:"))
reversed_num = 0

while num > 0:
    digit = num % 10

    reversed_num = reversed_num * 10 + digit

    num //= 10

print(f"Reversed number: {reversed_num}")

Reversed number: 21

## else

The **else** block can follow the while loop and the else block is executed when the loop is not interrupted by any break statement, i.e. when the loop terminates naturally (boolean expression is False). If the loop is terminated by a **break** statement, the else block will not execute.

In [ ]:
i = 1

while i <= 5:
    print(i)
    i += 1

else:
    print("The cycle has ended naturally.")

1
2
3
4
5
The cycle has ended naturally.

In [ ]:
i = 1

while i <= 5:
    if i == 3:
        break
    print(i)
    i += 1

else:
    print("The cycle did not end naturally.")

1
2

In [ ]:
# Write the codes for ATM password entry.

registered_password = "1234"

y = True

while y:

    username_entry = input("Please enter your card password:")

    if registered_password == username_entry:
        print("You are being directed to the main menu...")
        y = False

    else:
        print("The password you entered is incorrect, please enter again.")

You are being directed to the main menu...

## Random Module

In Python, the random module is used to generate random numbers and make random choices. This module is useful in many areas such as games, simulations, security testing.

Using the random Module
First, to use this module, you need to import it:

In [ ]:
import random

**random()** Returns a random float number between 0.0 and 1.0.

In [ ]:
# Generates a random number between 0 and 1
random_number = random.random()
print(random_number)

0.21149450606223408

**random.randint(a, b)**
Generates a random integer in the specified range a and b (both values ​​inclusive).

In [ ]:
# Generates a random integer between 1 and 10
random_number = random.randint(1, 10)
print(random_number)

10

**random.uniform(a, b)**
This function generates a random floating point number between the specified a and b.

In [ ]:
# Generates a random floating point number between 1.0 and 10.0
random_number = random.uniform(1.0, 10.0)
print(random_number)

9.658363236100202

**random.choice(sequence)**
Chooses a random element from a given iterable data structure such as a list, tuple, or string.

In [ ]:
# Selects a random item from the list
fruits = ["apple", "pear", "banana", "strawberry"]
choice = random.choice(fruits)
print(choice)

strawberry

**random.shuffle(sequence)**
This function randomly shuffles the elements in the given sequence data structure. Since this operation changes the original data structure, you cannot use the sequence data structure directly, but you can reuse the data after the change.

In [ ]:
# Randomly shuffles the list
fruits = ["apple", "pear", "banana", "strawberry"]
random.shuffle(fruits)
print(fruits)

['apple', 'pear', 'strawberry', 'banana']

**random.sample(sequence, k)**
Selects the specified k number of elements from the specified sequential data structure (and does not repeat the selected elements).

In [ ]:
# Selects 2 random items from the list (does not repeat)
fruits = ["apple", "pear", "banana", "strawberry"]
selections = random.sample(fruits, 2)
print(selections)

['strawberry', 'apple']

**random.randrange(start, stop, step)**
This function generates a random number between start and stop, step by step.

In [ ]:
# Picks a random number between 0 and 10 in steps of 2
random_number = random.randrange(0, 10, 2)
print(random_number)

2

**random.seed(a=None)**
This function makes the random numbers repeatable. If the same seed value is given, the same random numbers are generated each time it is run.

In [ ]:

random.seed(42) # Same numbers every time with the same seed
print(random.randint(1, 100)) # Gets the same number every time

82

In [ ]:
# The computer picks a random number between 1 and 100.
# The user is asked to guess this number.
# The user guesses, and the computer evaluates the user's guess and gives one of the following feedback:
# If the guessed number is correct:
# "The number you entered is correct. You guessed it X times. Congratulations."
# If the guessed number is large:
# "The number you entered is X. Decrease your guess."
# If the guessed number is small:
# "The number you entered is X. Increase your guess."
# The user is given a total of 7 guesses.
# If the user uses all 7 guesses and cannot guess correctly:
# "Your 7 guesses are over. The number I had in mind was X" message is displayed and the game ends.
# There is a 2 second cooldown at the beginning of the game.

import random
import time

number_in_my_mind = random.randint(1, 100)

counter = 0
time.sleep(2)

while True:
    counter += 1

    guess = int(input("Guess the number in my mind:"))

    if number_in_my_mind < guess:
        print(f"The number you entered is {guess}. Decrease guess")

    elif number_in_my_mind > guess:
        print(f"The number you entered is {guess}. Increase guess")

    else:
        print(f"The number you entered is {guess}. You guessed it {counter} times. Congratulations.")
        break

    if counter == 7:
        print(f"Your 7 rights are over. The number I had in mind was {number_in_my_mind}")
        break

The number you entered is 0. Increase guess
The number you entered is 15. Increase guess
The number you entered is 22. Increase guess
The number you entered is 5. Increase guess
The number you entered is 6. Increase guess
The number you entered is 8. Increase guess
The number you entered is 9. Increase guess
Your 7 rights are over. The number I had in mind was 95

In [ ]:
# My other solution:

import time
import random

# Determine the computer's secret number
computer_number = random.randint(1, 100)

# Initialize the guess counter
counter = 0

# Short delay before starting
time.sleep(2)

print("Try to guess the number in my mind! The number is between 1 and 100.")

# Guessing loop
while True:
    try:
        # Get the user's guess
        user_guess = int(input('Guess the number in my mind: '))

        # Increase the guess counter
        counter += 1

        # Check the guess limit
        if counter == 7:
            print(f"You couldn't find the number I had in mind within the 7 attempts given to you. The number I had in mind was {computer_number}.")
            break

        # Check the guess and give a hint to the user
        if user_guess < computer_number:
            print('Please increase your guess!')
        elif user_guess > computer_number:
            print('Please lower your estimate!')
        else:
            # Correct guess
            print(f'Congratulations! You guessed it in {counter} attempts! The number I had in mind was {computer_number}.')
            break

    except ValueError:
        print("Please enter a valid number.")

Try to guess the number in my mind! The number is between 1 and 100.
Please increase your guess!
Please increase your guess!
Please increase your guess!
Please lower your estimate!
Please lower your estimate!
Please lower your estimate!
You couldn't find the number I had in mind within the 7 attempts given to you. The number I had in mind was 36.

#### Python For Loops

A for loop iterates through the elements of a collection or array.

In Python, a for loop is used to iterate over array types such as list, tuple, set, range, etc.

The body of a for loop is executed for each member element in the array. Therefore, it does not require an explicit assertion of a boolean expression controlling the loop (as in a while loop).

In [ ]:
# Example: Printing elements on a list
fruits = ["apple", "pear", "strawberry"]
for fruit in fruits:
    print(fruit)

apple
pear
strawberry

In [ ]:
dict1 = {"name": "Alice", "surname": "Sun", "age": 26}
dict1

{'name': 'Alice', 'surname': 'Sun', 'age': 26}

In [ ]:
# By default, it calls the keys.

for i in dict1:
    print(i)

name
surname
age

In [ ]:
for i in dict1.values():
    print(i)

Alice
Sun
26

In [ ]:
for i in dict1.items():
    print(i)

('name', 'Alice')
('surname', 'Sun')
('age', 26)

In [ ]:
for i, j in dict1.items():
    print(f"key: {i}, value: {j}")

key: name, value: Alice
key: surname, value: Sun
key: age, value: 26

In [ ]:
for key, value in dict1.items():
    print(f"key: {key:<10}, value: {value}")

key: name      , value: Alice
key: surname   , value: Sun
key: age       , value: 26

In [ ]:
for i, j in dict1.items():
    print(f"key: {i:>10}, value: {j}")

key:       name, value: Alice
key:    surname, value: Sun
key:        age, value: 26

In [ ]:
for i, j in dict1.items():
    print(f"key: {i:^10}, value: {j}")

key:    name   , value: Alice
key:  surname  , value: Sun
key:    age    , value: 26

#### Range

range(start, stop, step) -> step default is 1.

The range function is used to create ranges of numbers with loops.

The range() function is a function that allows you to navigate between numbers in a certain range. It is usually used in loops (like a for loop). This function allows you to iterate over the numbers in a range with a certain start, end, and step value.

The list() function takes the iterable range() object and converts all the numbers in it into a list. A list is a data structure that stores all the numbers in memory. In this way, we need to convert the range() object into a list in order to see the numbers.

In [ ]:
# Example: Printing numbers from 0 to 4
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
# Example: Printing from 2 to 10 (by 2)
for i in range(2, 11, 2):
    print(i)

2
4
6
8
10

In [ ]:
# Ask the user for a number between 1-9. Create the multiplication table for that number.

number = int(input("Enter a number between 1 and 9 (inclusive):"))

if 1 <= number <= 9:
    for i in range(1, 11):
        print(f"{number} x {i} = {number * i}")

else:
    print("You did not enter a number between 1 and 9.")

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [ ]:
text = input("Enter some text:")
vowels = "aeıioöuüAEIİOÖUÜ"

for char in text:
    if char in vowels:
        print(char)

A
i
e

In [ ]:
# Take a number from the user and check if it is prime.

num = int(input("Enter a number:"))

if num > 1:
    for i in range(2, num):
        if num % i == 0:
            print(f"{num} is not a prime number.")
            break
    else:
        print(f"{num} is a prime number.")
else:
    print(f"{num} is not a prime number.")

3 is a prime number.

In [ ]:
# Find the sum of the digits of a number
# Take a number from the user and write a Python program that finds the sum of the digits of that number.

In [ ]:
# 1. SOLUTION METHOD:

num = input('Please enter a number')
total = 0

if num.isnumeric():

    for i in num: #'345'
        total += int(i)

    print(f'The number you entered: {num} digits total {total}')

else:
    print('The value you give must be numeric.')

The number you entered: 345 digits total 12

In [ ]:
# 2. SOLUTION METHOD:

num = input('Please enter a number')
total = 0
x = 0 # We use x as index.

if num.isnumeric():

    while x < len(num):
        total += int(num[x])
        x += 1

    print(f'num: {num} total: {total}')

else:
    print('The value you provide must be numeric.')

num: 21 total: 3

In [ ]:
# 3. SOLUTION METHOD:

num = input('Please enter a number')
total = 0
nums = []
x = 0 # We use x as index.

if num.isnumeric():

    while x < len(num):
        nums.append(int(num[x])) # We converted the elements to integers and added them to the list one by one.
        x += 1

    total = sum(nums)  # The sum function adds the elements of the list and returns them.

    print(f'num: {num} total: {total}')

else:
    print('The value you provide must be numeric.')

num: 15 total: 6

In [ ]:
# Returns the sum of the elements.

a = [2, 3, 4, 5, 6, 8, 45, 12, 68, 89]
sum(a)

242

In [ ]:
# 4. SOLUTION METHOD:

num = input('Please enter a number')
total = 0

if num.isnumeric():
    num = int(num)

    while num > 0:
        total += num % 10
        num //= 10 # We used // to get the integer result.

    print(f'total {total}')

else:
    print('The value you provide must be numeric.')

total 6

In [ ]:
# To better understand the following question, we need to know the following feature of dicts for adding elements:

fruits = {}

fruits['Apple'] = 5

fruits

{'Apple': 5}

In [ ]:
# Sea Temperature Forecast
# Create a list of seas.
# seas = ['Mediterranean Sea', 'Aegean Sea', 'Black Sea', 'Marmara Sea', 'Adriatic Sea']
# conditions = ['Calm', 'Waves', 'Stormy']
# For each sea, choose a random temperature value (between 10°C and 30°C) and condition (calm, wavy, stormy).
# Store the temperatures and sea conditions in a dictionary. Adjust the widths to make them visually pleasing.
# {mediterranean = {temperature = 25, status = calm}, black sea = {}}

import random
sea_list = ['Mediterranean', 'Aegean Sea', 'Black Sea', 'Marmara Sea', 'Adriatic Sea']
forecast = ['Calm', 'Wavy', 'Stormy']

sea_dict = {} # dict

for sea in sea_list:

    sea_dict[sea] = {'temperature': random.randint(10, 30), 'status' : random.choice(forecast) } # because it is nested

for sea, information in sea_dict.items():

    print(f"Sea name: {sea:<20}, temperature: {information['temperature']:>5}, status: {information['status']:^20}")

# :< align left
# :> align right
# :^ center

Sea name: Mediterranean       , temperature:    17, status:         Calm
Sea name: Aegean Sea          , temperature:    14, status:        Stormy
Sea name: Black Sea           , temperature:    13, status:        Stormy
Sea name: Marmara Sea         , temperature:    27, status:         Calm
Sea name: Adriatic Sea        , temperature:    28, status:         Wavy

In [ ]:
import random

seas = ['Mediterranean', 'Aegean Sea', 'Black Sea', 'Marmara Sea', 'Adriatic Sea']
states = ['Calm', 'Wavy', 'Stormy']

weather_condition = {}

# We can't randomly choose the sea because there may be sea left out in the open.
# This comment seems to be a non-sequitur given the code.
# The code iterates through each sea in the 'seas' list and assigns a random state and temperature.

for sea in seas:
    weather_condition[sea] = {'states': random.choice(states), 'temperature': random.randint(10, 30)}

# Let's do this to fix the output above:
# The sep parameter is only used when multiple arguments are given to the print() function
# to put a separator between each argument.
# sep does not work when used directly in f-string, because f-string is already given as a single argument to print() function.

for i, j in weather_condition.items():
    print(f'Sea: {i:^16}', f'condition: {j["states"]:^9}', f'temperature: {j["temperature"]:^5}', sep=" | ")

Sea:  Mediterranean   | condition:   Calm    | temperature:  23
Sea:    Aegean Sea    | condition:   Wavy    | temperature:  18
Sea:    Black Sea     | condition:   Calm    | temperature:  16
Sea:   Marmara Sea    | condition:   Wavy    | temperature:  13
Sea:   Adriatic Sea   | condition:   Calm    | temperature:  22

In [ ]:
import random

# Countries and their capitals
country_capitals = {
    'Turkey': 'Ankara',
    'France': 'Paris',
    'Germany': 'Berlin',
    'Italy': 'Rome',
    'Spain': 'Madrid',
    'Portugal': 'Lisbon',
    'Netherlands': 'Amsterdam',
    'Belgium': 'Brussels',
    'Switzerland': 'Bern',
    'Austria': 'Vienna',
    'Greece': 'Athens',
    'United Kingdom': 'London',
    'Sweden': 'Stockholm',
    'Norway': 'Oslo',
    'Denmark': 'Copenhagen',
    'Finland': 'Helsinki',
    'Russia': 'Moscow',
    'China': 'Beijing',
    'Japan': 'Tokyo',
    'India': 'New Delhi'
}

while True:
    # Randomly select a country, using tuple instead of list
    country, capital = random.choice(tuple(country_capitals.items()))
    capital_guess = input(f'Enter the capital of {country}. Press "e" to exit: ').strip()

    if capital_guess.lower() == 'e':
        print('Exiting...')
        break
    elif capital.lower() == capital_guess.lower():
        print(f'You got it right! The capital of {country} is {capital}.')
        break
    else:
        print('Try again.')

You got it right! The capital of India is New Delhi.

In [ ]:
# Take a number from the user and generate that number of Fibonacci sequences.

n = int(input("How many terms of Fibonacci series do you want?:"))
a, b = 0, 1

for i in range(n):
    print(a , end=" ")
    a, b = b, a + b

0 1 1 2 3 5 8 13 21 34 55 89

In [ ]:
# Take a number from the user and reverse the number.

num = input("Enter a number:")
reversed_num = ""

for digit in num:
    reversed_num = digit + reversed_num

print(f"{num} inverse of the number: {reversed_num}")

21 inverse of the number: 12

#### Break ve Continue

Break: Stops the loop completely.
Continue: Skips the current loop and moves on to the next step.

In [ ]:
# Example: Skip 3 and print the others
for i in range(1, 6):
    if i == 3:
        continue
    print(i)

1
2
4
5

#### Else (Usage in Loops)

The else block is activated when the loop is completely executed. If the loop is interrupted with break, else will not execute.

In [ ]:
# Example: Print numbers up to 5 and give message when loop is finished
for i in range(1, 6):
    print(i)
else:
    print("The cycle is complete!")

1
2
3
4
5
The cycle is complete!

#### Nested for Loop

Nested loops allow a loop to be run inside another loop. They are often used for tables or multi-dimensional operations.

If a loop (for loop or while loop) contains another loop in its body block, we say that the two loops are nested. If the outer loop is designed to perform m iterations and the inner loop n iterations, the body block of the inner loop will be executed m x n times.

In [ ]:
# Example: Creating a 2D table
for i in range(1, 4): # Rows
    for j in range(1, 4): # Columns
        print(f"({i}, {j})", end=" ")
    print() # Start a new row after each row

(1, 1) (1, 2) (1, 3)
(2, 1) (2, 2) (2, 3)
(3, 1) (3, 2) (3, 3)

In [ ]:
for x in range(1, 5):
    for y in range(1, 4):
        print(f"x: {x}, y: {y}")

x: 1, y: 1
x: 1, y: 2
x: 1, y: 3
x: 2, y: 1
x: 2, y: 2
x: 2, y: 3
x: 3, y: 1
x: 3, y: 2
x: 3, y: 3
x: 4, y: 1
x: 4, y: 2
x: 4, y: 3

In [ ]:
# You want to create a multiplication table.
# The multiplication table should contain the products of numbers from 1 to 10.

for i in range(1, 11):
    for j in range(1, 11):
        print(f"{i:<2} x {j:>2} = {i * j:<2}")
    print()

1  x  1 = 1
1  x  2 = 2
1  x  3 = 3
1  x  4 = 4
1  x  5 = 5
1  x  6 = 6
1  x  7 = 7
1  x  8 = 8
1  x  9 = 9
1  x 10 = 10

2  x  1 = 2
2  x  2 = 4
2  x  3 = 6
2  x  4 = 8
2  x  5 = 10
2  x  6 = 12
2  x  7 = 14
2  x  8 = 16
2  x  9 = 18
2  x 10 = 20

3  x  1 = 3
3  x  2 = 6
3  x  3 = 9
3  x  4 = 12
3  x  5 = 15
3  x  6 = 18
3  x  7 = 21
3  x  8 = 24
3  x  9 = 27
3  x 10 = 30

4  x  1 = 4
4  x  2 = 8
4  x  3 = 12
4  x  4 = 16
4  x  5 = 20
4  x  6 = 24
4  x  7 = 28
4  x  8 = 32
4  x  9 = 36
4  x 10 = 40

5  x  1 = 5
5  x  2 = 10
5  x  3 = 15
5  x  4 = 20
5  x  5 = 25
5  x  6 = 30
5  x  7 = 35
5  x  8 = 40
5  x  9 = 45
5  x 10 = 50

6  x  1 = 6
6  x  2 = 12
6  x  3 = 18
6  x  4 = 24
6  x  5 = 30
6  x  6 = 36
6  x  7 = 42
6  x  8 = 48
6  x  9 = 54
6  x 10 = 60

7  x  1 = 7
7  x  2 = 14
7  x  3 = 21
7  x  4 = 28
7  x  5 = 35
7  x  6 = 42
7  x  7 = 49
7  x  8 = 56
7  x  9 = 63
7  x 10 = 70

8  x  1 = 8
8  x  2 = 16
8  x  3 = 24
8  x  4 = 32
8  x  5 = 40
8  x  6 = 48
8  x  7 = 56
8  x  8 = 64
8  x  9 = 72
8  x 10 = 80

9  x  1 = 9
9  x  2 = 18
9  x  3 = 27
9  x  4 = 36
9  x  5 = 45
9  x  6 = 54
9  x  7 = 63
9  x  8 = 72
9  x  9 = 81
9  x 10 = 90

10 x  1 = 10
10 x  2 = 20
10 x  3 = 30
10 x  4 = 40
10 x  5 = 50
10 x  6 = 60
10 x  7 = 70
10 x  8 = 80
10 x  9 = 90
10 x 10 = 100

In [ ]:
# We want to create a square pattern.

size = int(input("Enter the size for the square pattern:"))

for i in range(size):
    for j in range(size):
        print("*", end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
# Let's do it in a triangle:
height = int(input("Enter the height for the triangle pattern:"))

for i in range(1, height + 1):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

**Summary:**

- **While Loop:** Works depending on a certain condition.
- **For Loop:** Loops through elements in a certain collection in order.
- **Range:** Creates numerical ranges.
- **Break:** Stops the loop.
- **Continue:** Skips the current step of the loop.
- **Else:** Comes into effect when the loop is completely executed.
- **Nested Loops:** Allows loops to be run within loops.

### Python - Functions (Basics and Parameters)

Functions allow you to make your code reusable. In Python, a function is defined with the def keyword. It also prevents code repetition and reduces the possibility of errors.

Creating Functions and Related Terminology

    Function Definition: The def keyword is used to define a function.
    Function Name: The name used to call the function.
    Parameters: The inputs that the function receives. They are specified in parentheses.
    Function Body: The block of code that the function executes. It is written indented.
    Return Value: The value returned by the function as a result, specified with the return keyword.

In [ ]:
def function():
    print("Hello!")

function()

Hello!

In [ ]:
def square_calculate(number):
    """ We write docstring for function definition
    This function calculates the square of the given number.

    Parameters:
    number (int, float): The number to be squared.

    Return:
    int, float: The square of the number.
    """
    # indentation is the indentation required for the function to work
    square = number ** 2 # body of the function return square # return(return value) produces value
    return square

In [ ]:
# we will call the function

print(square_calculate(7)) # (number: Any) -> Any number (int, float): The number to be squared. This function calculates the square of the given number. Parameters: number (int, float): The number to be squared. Return: int, float: The square of the number.

49

In [ ]:
def greet():
    """This function displays'Hello World!'""" ## These are help sentences that explain what a function does and how it should be used.
    print("Hello World!")

In [ ]:
greet() # It came directly because it was defined. We defined print above.

Hello World!

In [ ]:
# if return value is not defined in the function it returns none
print(greet()) # defines a function and returns none if return is not used. code is not faulty.

Hello World!
None

In [ ]:
def sum_of_squares(x, y):
    print(x ** 2 + y ** 2)

In [ ]:
sum_of_squares(3,4)

25

In [ ]:
print(sum_of_squares(3,4)) # return is not defined so none is output

25
None

In [ ]:
print

In [ ]:
sum_of_squares

In [ ]:
sum_of_squares(5,2) # we did not define the 2nd value in the function

29

In [ ]:
def sum_of_squares2(x, y):

    """This function squares two numbers and adds them"""

    print(x ** 2 + y ** 2)

In [ ]:
help(sum_of_squares2)

Help on function sum_of_squares2 in module __main__:

sum_of_squares2(x, y)
    This function squares two numbers and adds them

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [ ]:
def sum_of_squares3(a, b):
  """
  Calculates the sum of the squares of two numbers.

  Args:
    a: The first number.
    b: The second number.

  Returns:
    The sum of the squares of a and b.
  """
  sum_sq = a**2 + b**2
  return sum_sq  # The function now returns the calculated value

In [ ]:
help(sum_of_squares3) # help is not displayed because the docstring is written below

Help on function sum_of_squares3 in module __main__:

sum_of_squares3(a, b)
    Calculates the sum of the squares of two numbers.

    Args:
      a: The first number.
      b: The second number.

    Returns:
      The sum of the squares of a and b.

In [ ]:
sum_of_squares2(4,5) #only shows the result. Since there is no such value as return, print gives the result only once.

41

In [ ]:
5 + sum_of_squares3(4,5) # none value is produced no return value
#If the function only prints the result (print) we cannot use this print result in a process. If there is a return value in the function we can use it in the process

46

In [ ]:
def sum_of_squares4(x, y):

    """This function squares two numbers and adds them"""

    return(x ** 2 + y ** 2)

In [ ]:
sum_of_squares4(3,4) # shows results

25

In [ ]:
print(sum_of_squares4(3,4)) #none is not returned because there is a return value

25

In [ ]:
def calculator(num1, opr, num2): # we only want to see results here
    if opr == "+":
        print(num1 + num2)

    elif opr == "-":
        print(num1 - num2)

    elif opr == "x":
        print(num1 * num2)

    elif opr == "/":
        print(num1 / num2)

    else:
        print("Incorrect operator input.")

In [ ]:
calculator(5, "x", 4)

20

In [ ]:
calculator(8, "/", 2)

4.0

In [ ]:
calculator("Hello", "+", "World")

HelloWorld

In [ ]:
calculator("Hello", "-", "World")

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
len

In [2]:
def my_len(x):

    """I don't like the len function so I'm writing my own function.
    This function returns the length of an iterable"""

    counter1 = 0

    for i in x:
        counter1 += 1

    print(counter1)

In [3]:
my_len(125) #The object 'int' in parentheses is not iterable

TypeError: 'int' object is not iterable

In [ ]:
my_len("hello")

5

In [ ]:
my_len([1, 2, 3, 4, 5])

5

### Python Function Parameters

Python functions support the following types of parameters:

- Positional Arguments
- Keyword Arguments
- Default Arguments
- Arbitrary Positional Arguments (*args)
- Arbitrary Keyword Arguments (**kwargs)
- Positional Parameters Only (/)
- Keyword Parameters Only (*)

#### Function Parameters in Python

Parameters are variables specified in parentheses when a function is defined. These variables represent the inputs the function receives when it is called. Arguments are the actual values ​​passed to these parameters when the function is called.

**Difference Between Parameters and Arguments**

* Parameters: These are variables specified in the function definition.
* Arguments: These are the values ​​given to these parameters when the function is called.

In [ ]:
def add(a,b): #a and b are parameters
    return a + b
result = add(3,5) # 3 and 5 are arguments
print(result)

8

### Parameter Types

1. Positional Parameters:

Positional arguments are arguments that are evaluated in order when passed to a function. That is, the arguments are placed in the order of the parameters specified in the function definition.

In [ ]:
def hello(name, age):
    print(f"Hello {name}, you are {age} years old.")

In [ ]:
hello("Rose", "29")

Hello Rose, you are 29 years old.

In [ ]:
hello(29, "Rose") # we will give the values ​​in the same order as the parameters

Hello 29, you are Rose years old.

In [ ]:
def hello(name="Visitor"):
    print(f"Hello {name}!")

In [ ]:
hello() #came without writing any parameters

Hello Visitor!

In [ ]:
hello("Rose")

Hello Rose!

3. Keyword Parameters:

Keyword arguments are arguments that are evaluated by specifying the parameter names when passing to a function. In this way, regardless of the order of the arguments, it is clearly stated which value corresponds to which parameter.

- You can mix the order of the parameters.
- Provides more readable code.

In [ ]:
def hello(name, age):
    print(f"Hello {name}, you are {age} years old")

In [ ]:
hello(age=29, name="Rose") # order is unimportant we define each value as we want

Hello Rose, you are 29 years old

In [ ]:
def process(a, b, c, d, e):
    return a * b + (c / d) - e

In [ ]:
process(e=20 , c=19, a=60, d=25, b=40)

2380.76

In [ ]:
def greet(name, message):
    """Sends a message to the specified person."""
    return f"{message}, {name}!"

# Call
print(greet(message="Hello", name="Rose")) # Output: Hello, Ahmet!

Hello, Rose!

* Write a function that finds the hypotenuse of a right triangle with two known sides.

* Then calculate the perimeter of the triangle

In [ ]:
def hypo(x, y):

    print((x ** 2 + y ** 2) ** 0.5)

In [ ]:
hypo(3,4)

5.0

3. Default Value Parameters
Default value parameters use a default value when no value is assigned.

- Default parameters must be defined after mandatory parameters

In [7]:
def greet(name, message="Hello"):
    """Greeting with the default message."""
    return f"{message}, {name}!"

# Call
print(greet("Ayse"))
print(greet("Ayse", "Hello"))

Hello, Ayse!
Hello, Ayse!

4. Arbitrary Number of Positional Arguments (*args)
A function can take an arbitrary number of positional arguments.

- The parameter name is usually called *args.
A tuple is returned.

In [8]:
def add_all(*args):
  """Adds an unlimited number of numbers."""
  total = 0
  for number in args:
    total += number
  return total

print(add_all(1, 2))        # Output: 3
print(add_all(10, 20, 30))   # Output: 60
print(add_all(5, 10, 15, 20, 25)) # Output: 75
print(add_all())             # Output: 0 (If no arguments are given, args is an empty tuple)

3
60
75
0

5. Arbitrary Number of Keyword Arguments (**kwargs) A function can take an arbitrary number of keyword arguments. The parameter name is usually called **kwargs. A dictionary is returned.

In [9]:
def display_info(**kwargs):
  """Prints user information."""
  for key, value in kwargs.items():
    print(f"{key}: {value}")

display_info(name="Alice", age=25, city="Istanbul")

name: Alice
age: 25
city: Istanbul

6. Positional Parameters Only (/)
Parameters specified with / can only be called positionally.

- Introduced in Python 3.8.
- Cannot be assigned with keyword.

In [10]:
def divide(a, b, /):
  """Divides two numbers."""
  return a / b

# Valid
print(divide(10, 2))  # Output: 5.0

# Invalid
# print(divide(a=10, b=2))  # Error: 'a' parameter is positional-only

5.0

7. Keyword Only Parameters (*)
Parameters following the * sign can only be called with a keyword.

- Provides more readable calls.

In [11]:
def register_user(name, *, password):
  """Registers a user."""
  return f"User {name} registered successfully."

# Valid
print(register_user("Alice", password="12345"))  # Output: User Alice registered successfully.

# Invalid
# print(register_user("Ali", "12345"))  # Error: 'password' must be passed as a keyword argumentı

User Alice registered successfully.

8. Mixed Uses
You can use all parameter types together.

In [12]:
def function(a, b=10, /, c=20, *, d, e=30):
  """Demonstrates all parameter types."""
  return a + b + c + d + e


print(function(1, 5, d=15))  # Output: 71

71

In [13]:
from tabulate import tabulate

# Table data
data = [
    ["Positional", "`a, b`", "Ordered and mandatory"],
    ["Keyword", "`a=1, b=2`", "Matched by name"],
    ["Default Value", "`a=10`", "Assigned a default value"],
    ["Arbitrary Positional", "`*args`", "Takes unlimited positional arguments as a tuple"],
    ["Arbitrary Keyword", "`**kwargs`", "Takes unlimited keyword arguments as a dict"],
    ["Positional-Only", "`/`", "Must be called by position"],
    ["Keyword-Only", "`*`", "Must be called by keyword"],
]

# Table headers
headers = ["Parameter Type", "Symbols", "Usage Type"]

# Create and print the table
print(tabulate(data, headers=headers, tablefmt="grid"))

+----------------------+------------+-------------------------------------------------+
| Parameter Type       | Symbols    | Usage Type                                      |
+======================+============+=================================================+
| Positional           | `a, b`     | Ordered and mandatory                           |
+----------------------+------------+-------------------------------------------------+
| Keyword              | `a=1, b=2` | Matched by name                                 |
+----------------------+------------+-------------------------------------------------+
| Default Value        | `a=10`     | Assigned a default value                        |
+----------------------+------------+-------------------------------------------------+
| Arbitrary Positional | `*args`    | Takes unlimited positional arguments as a tuple |
+----------------------+------------+-------------------------------------------------+
| Arbitrary Keyword    | `**kwargs` | Takes unlimited keyword arguments as a dict     |
+----------------------+------------+-------------------------------------------------+
| Positional-Only      | `/`        | Must be called by position                      |
+----------------------+------------+-------------------------------------------------+
| Keyword-Only         | `*`        | Must be called by keyword                       |
+----------------------+------------+-------------------------------------------------+

Meaning, this structure called "lambda function" is generally used when a function is needed but the function should not have a name. Lambda, unlike other functions, can be used directly without making a definition process.

It is a one-shot function

In [14]:
square_me = lambda x: x ** 2
print(square_me(4)) # Output: 16

16

##### Filtering in Lambda

In [15]:
numbers = [1, 2, 3, 4, 5, 6]
odd_numbers = list(filter(lambda x: x % 2 == 1, numbers))
print(odd_numbers) # Output: [1, 3, 5]

[1, 3, 5]

What are '**args' and '**kwargs' and What are they used for? Detailed

*args and **keywordwargs are used to provide flexibility when defining and calling functions in Python. These two concepts allow a function to take a variable number of arguments.

What is **args?**

*args allows a function to pass a variable number of positional arguments. By using *args, you do not need to know in advance how many arguments you will pass. The function takes these arguments as a tuple.

**Usage Area**

*args is useful when you need to pass multiple positional arguments to a function, but you do not know the number of these arguments in advance.

****What is kwargs?**

**kwargs allows you to pass a variable number of keyword arguments to a function. By using **kwargs, you don't need to know in advance how many keyword arguments you will pass. The function takes these arguments as a dictionary.

**Usage Area**

**kwargs is useful when you need to pass multiple keyword arguments to a function, but you don't know the number and names of these arguments in advance.

Summary:

- *args: Takes an indefinite number of positional arguments.
- **kwargs: Takes an indefinite number of key-value pairs.

Args Usage

In [18]:
def sum_all(*args):
  """Sums all the numbers passed as arguments."""
  total = 0
  for num in args:
    total += num
  return total

print(sum_all(1, 2, 3))       # Output: 6
print(sum_all(10, 20, 30, 40)) # Output: 100
print(sum_all())              # Output: 0 (args is an empty tuple)

6
100
0

Use of Kwargs

In [20]:
def info(**kwargs):
  """Prints the provided information."""
  for key, value in kwargs.items():
    print(f"{key}: {value}")

info(name="Ebru", age=30, city="Istanbul")

name: Ebru
age: 30
city: Istanbul

Using Args and Kwargs Together

In [21]:
def function(name, *args, **kwargs):
  """Demonstrates the use of *args and **kwargs."""
  print(f"Name: {name}")
  print(f"Args: {args}")
  print(f"Kwargs: {kwargs}")

function("Ayşe", 10, 20, age=30, city="Ankara")

Name: Ayşe
Args: (10, 20)
Kwargs: {'age': 30, 'city': 'Ankara'}

The importance and meaning of the * and ** symbols in Python are used to flexibly handle positional and keyword arguments in functions. Here is the meaning of these symbols and why they are used:

***args and **kwargs Symbol Meaning**

***args**

*args allows the function to take any number of positional arguments. The * symbol indicates that the arguments passed to the function will be collected as a tuple.

Single Asterisk (*): Used to capture a series of positional arguments to be passed to the function. The arguments are collected as a tuple.

**kwargs

**kwargs allows the function to take any number of keyword arguments. The ** symbol indicates that the keyword arguments passed to the function will be collected as a dictionary.

Double Asterisk (**): Used to capture a series of keyword arguments to be passed to the function. The arguments are collected as a dictionary.

Other Uses of '*' and ** Symbols

* The '*' and ** symbols also have uses outside of function definitions:

*
**Opening Lists and Dictionaries**

Opening Lists (*): Opening a list or tuple, passing its elements as individual arguments.

Opening Dictionaries (**): Opening a dictionary, passing keywords as arguments.

In [22]:
def info(name, age, city):
  """Prints the provided information."""
  print(f"Name: {name}, Age: {age}, City: {city}")


person = {"name": "Ali", "age": 25, "city": "Istanbul"}

info(**person)

Name: Ali, Age: 25, City: Istanbul

In [23]:
def mixed_function(a, b, *args, c=10, **kwargs):
  """Demonstrates the use of positional, arbitrary positional, keyword, and arbitrary keyword arguments."""
  print(f"a: {a}")
  print(f"b: {b}")
  print(f"args: {args}")
  print(f"c: {c}")
  print(f"kwargs: {kwargs}")

mixed_function(1, 2, 3, 4, d=5, e=6)

a: 1
b: 2
args: (3, 4)
c: 10
kwargs: {'d': 5, 'e': 6}

In [24]:
def odd_numbers(*numbers):
  """Returns a list of odd numbers from the given arguments."""
  odds = []

  for i in numbers:
    if i % 2 != 0:
      odds.append(i)

  return odds

In [25]:
odd_numbers(4, 25, 36, 15, 17)

[25, 15, 17]

In [26]:
odd_numbers(4, 25, 36, 15, 17, 2 , 6, 4, 19, 18)

[25, 15, 17, 19]

In [27]:
odd_numbers()

[]

Write a function that takes the square of the odd numbers and the double of the even numbers in a given sequence and adds them to another list.

In [28]:
def transform_numbers(numbers):
  """Transforms a list of numbers: doubles even numbers and squares odd numbers."""
  new_list = []

  for num in numbers:
    if num % 2 == 0:  # If the number is even
      new_list.append(num * 2)
    else:  # If the number is odd
      new_list.append(num ** 2)

  return new_list

In [29]:
number_sequence = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = transform_numbers(number_sequence)
print(result)

[1, 4, 9, 8, 25, 12, 49, 16, 81]

In [30]:
def odd_even_transform(*numbers):
  """Transforms a sequence of numbers: squares odd numbers and doubles even numbers."""
  result = []

  for i in numbers:
    if i % 2 != 0:  # If the number is odd
      result.append(i ** 2)
    else:  # If the number is even
      result.append(i * 2)

  return result

In [31]:
odd_even_transform(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

[1, 4, 9, 8, 25, 12, 49, 16, 81, 20]

In [32]:
def odd_even_transform_comprehension(*numbers):
  """Transforms a sequence of numbers: squares odd numbers and doubles even numbers (using list comprehension)."""
  return [i ** 2 if i % 2 != 0 else i * 2 for i in numbers]

In [33]:
odd_even_transform_comprehension(*range(1, 10))

[1, 4, 9, 8, 25, 12, 49, 16, 81]

In [34]:
print(*"hello")

h e l l o

In [36]:
import random

def odd_even_transform_comprehension(*numbers):
  """Transforms a sequence of numbers: squares odd numbers and doubles even numbers (using list comprehension)."""
  return [i ** 2 if i % 2 != 0 else i * 2 for i in numbers]

# Generate a single random integer between 1 and 10 (inclusive)
random_number = random.randint(1, 10)

# Call the function with the unpacked single random number as a positional argument
result = odd_even_transform_comprehension(*[random_number])
print(result)

[81]

In [38]:
import random
odd_even_transform_comprehension(random.randrange(1,10))

[25]

In [39]:
dict1 = {"name1": "Alice", "name2": "Jake", "name3": "Bob"}
dict1

{'name1': 'Alice', 'name2': 'Jake', 'name3': 'Bob'}

In [40]:
def kwargs_function(**kwargs):
    for i, j in kwargs.items():
        print(f"key: {i}, value: {j}")

In [41]:
kwargs_function(**dict1)

key: name1, value: Alice
key: name2, value: Jake
key: name3, value: Bob

**lambda Functions**

lambda is used to define single-line anonymous functions in Python. It is generally used for short-term operations and does not require the def keyword.

lambda arg1, arg2, ... : expression

In [42]:
# Lambda function to multiply a number by two
carb = lambda x: x * 2
print(carb(5)) # Output: 10

# Lambda function to add two numbers
sum = lambda a, b: a + b
print(sum(3, 4)) # Output: 7

10
7

**filter Function**

filter is used to filter elements in a dataset that meet a certain condition. The condition is defined by a function.

filter(function, iterable)

function: Evaluates each element and if True is returned, the element is kept.

iterable: List, tuple, set etc.

In [43]:
# Function to filter positive numbers
numbers = [-2, -1, 0, 1, 2, 3]
positives = filter(lambda x: x > 0, numbers)
print(list(positives)) # Output: [1, 2, 3]

[1, 2, 3]

**map Function**

- map applies a function to each element of an iterable (e.g. list) and returns the results.

- function: Applied to transform each element.
- iterable: List, tuple, set etc.

map(function, iterable)

In [45]:
# Example of multiplying each element of a list by two
numbers = [1, 2, 3, 4]
product = map(lambda x: x * 2, numbers)
print(list(product)) # Output: [2, 4, 6, 8]

[2, 4, 6, 8]

Using All Concepts Together: In the example below, lambda, filter, map and enumerate are used together.

In [47]:
# List of numbers
numbers = [-3, -2, -1, 0, 1, 2, 3]

# 1. Filter positive numbers
positives = filter(lambda x: x > 0, numbers)

# 2. Multiply positive numbers by two
product = map(lambda x: x * 2, positives)

# 3. Print the results with their indexes
for index, result in enumerate(product, start=1):
  print(f"{index}. Result: {result}")
# Output:
# 1. Result: 2
# 2. Result: 4
# 3. Result: 6

1. Result: 2
2. Result: 4
3. Result: 6

| Function | Purpose | Usage Example |
|--------------|-------------------------------------|--------------------------------------------------------|
| lambda | Define a single-line anonymous function | `lambda x: x * 2` |
| filter | Filter elements that meet a certain condition | `filter(lambda x: x > 0, [-2, -1, 0, 1])` |
| map | Apply a function to all elements | `map(lambda x: x * 2, [1, 2, 3])` |
| enumerate | Return the elements of an iterable with their indexes | `enumerate(['apple', 'pear'], start=1)` |

**enumerate Function**

enumerate returns the elements in an iterable (e.g. list, tuple) along with their indexes. This is especially useful when accessing the indexes is required during a loop.

enumerate(iterable, start=0)

- iterable: A collection such as a list, tuple, set.
- start: The starting value of the returned indexes (default: 0).

In [49]:
#Print list with indexes

fruits = ['apple', 'pear', 'banana']

for index, fruit in enumerate(fruits):
  print(f"{index}: {fruit}")

0: apple
1: pear
2: banana

In [50]:
# Starting Indexes from Different Values

fruits = ['apple', 'pear', 'banana']

for index, fruit in enumerate(fruits, start=1):
  print(f"{index}: {fruit}")

1: apple
2: pear
3: banana

In [51]:
# Keeping Index and Value in List

fruits = ['apple', 'pear', 'banana']

# Converting enumerate output to list
list = list(enumerate(fruits))
print(list)

[(0, 'apple'), (1, 'pear'), (2, 'banana')]

In [53]:
# Changing List Elements

fruits = ['apple', 'pear', 'banana']
for index, fruit in enumerate(fruits):
  fruits[index] = fruit.upper()

print(fruits)

['APPLE', 'PEAR', 'BANANA']

### Zip Function

zip creates a tuple by matching elements of multiple iterables. The elements are matched in order and the shortest iterable is processed.

zip(iterable1, iterable2, ...)

iterable1, iterable2, ...: More than one iterable such as list, tuple, string.

In [60]:
# Combining Elements of Two Lists

names = ['Alice', 'Rose', 'Jake']
ages = [25, 30, 35]

combined_iterator = zip(names, ages)

for name, age in combined_iterator:
  print(f"Name: {name}, Age: {age}")

Name: Alice, Age: 25
Name: Rose, Age: 30
Name: Jake, Age: 35

In [61]:
# Creating a Dictionary by Pairing Elements of Lists

keys = ['name', 'age', 'city']
values = ['Ahmet', 28, 'Ankara']

dictionary = dict(zip(keys, values))
print(dictionary)

{'name': 'Ahmet', 'age': 28, 'city': 'Ankara'}

In [63]:
# Lists of Different Lengths

# Lists of Different Lengths

list1 = [1, 2, 3]
list2 = ['a', 'b']

combined_iterator = zip(list1, list2)

for item1, item2 in combined_iterator:
  print(f"Item from list1: {item1}, Item from list2: {item2}")

Item from list1: 1, Item from list2: a
Item from list1: 2, Item from list2: b

In [64]:
# Using zip with a Loop

students = ['Ali', 'Ayşe', 'Mehmet']
grades = [85, 90, 95]

for student, grade in zip(students, grades):
  print(f"The grade of student {student} is: {grade}")

The grade of student Ali is: 85
The grade of student Ayşe is: 90
The grade of student Mehmet is: 95

In [67]:
# Creating a Transpose with zip

matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

transpose_iterator = zip(*matrix)

for row in transpose_iterator:
    print(row)

(1, 4, 7)
(2, 5, 8)
(3, 6, 9)

In [68]:
# Using enumerate and zip Together

students = ['Alice', 'Rose', 'Jake']
grades = [85, 90, 95]

for index, (student, grade) in enumerate(zip(students, grades), start=1):
  print(f"{index}. The grade of student {student} is: {grade}")

1. The grade of student Alice is: 85
2. The grade of student Rose is: 90
3. The grade of student Jake is: 95

### Summary Table

| **Function** | **Purpose** | **Example Usage** |
|--------------|-------------------------------------|----------------------------------------|
| `enumerate` | Returns Iterable with its indices | `enumerate(['apple', 'pear'])` |
| `zip` | Returns a tuple by matching the elements of multiple iterables | `zip(['John'], [25])` |

### Variable Scope Types in Python (LEGB Rule)
The LEGB (Local, Enclosing, Global, Built-in) rule in Python determines the scope from which a variable will be accessed:

- Local (Local Scope):
Variables defined within a function or block.

They can only be accessed within that function or block.
- Enclosing (Nested Scope):

In a nested function structure, variables belonging to the outer (enclosing) function can be accessed from the inner function.

Nested functions are looked up one level.

- Global (Global Scope):
Variables defined outside functions or classes.
They can be accessed throughout the code, but cannot be changed within a function without the global keyword.

- Built-in (Built-in) Scope:
Built-in functions and keywords provided by Python that can be accessed from anywhere in the entire program (e.g. print, len, range).

1. Local Scope
If a variable is defined inside a function, it is in local scope. It cannot be accessed outside the function.

In [70]:
def function():
  x = 10  # Local variable
  print(x)

function()  # Output: 10
# print(x)    # Error: NameError: name 'x' is not defined

10

2. Enclosing Scope
In a nested function, the inner function can access the variables of the outer function. However, the variables of the inner function are only valid in that function.

In [71]:
def outer_function():
  y = "Outer Variable"

  def inner_function():
    print(y)  # Accessing the outer function's variable

  inner_function()

outer_function()  # Output: Outer Variable

Outer Variable

**Note:** If you want to change a variable in the outer function in the inner function, you must use the nonlocal keyword.

In [72]:
# nonlocal Example:

def outer_function():
  y = 10

  def inner_function():
    nonlocal y
    y += 5

  inner_function()
  print(y)  # Output: 15

outer_function()

15

3. Global Scope
If a variable is defined outside a function, it is global. It is accessible in all code.

In [73]:
x = 100  # Global variable

def function():
  print(x)  # Accessing the global variable

function()  # Output: 100

100

Changing a Global Variable Inside a Function:
The global keyword is used to change a global variable inside a function.

In [74]:
x = 10

def change():
  global x
  x += 5

change()
print(x)  # Output: 15

15

4. Built-in Scope
Python provides some built-in functions and variables by default. For example: print, len, max, min.

In [75]:
# Using the built-in function `len`
list = [1, 2, 3]
print(len(list)) # Output: 3

3

Shadowing a Built-in Function:
Your own variable or function may conflict with built-in names. In such cases, care should be taken.

In [76]:
len = 10 # The built-in `len` function is no longer available
print(len) # Output: 10
# print(len([1, 2, 3])) # Error: TypeError: 'int' object is not callable

10

**Example: Showing LEGB Rule**

In [77]:
x = "global x"  # Global scope

def outer_function():
  x = "enclosing x"  # Enclosing scope

  def inner_function():
    x = "local x"  # Local scope
    print(x)  # x from local scope

  inner_function()
  print(x)  # x from enclosing scope

outer_function()
print(x)  # x from global scope

local x
enclosing x
global x

## The Importance of Understanding Variable Scope
Understanding variable scope is critical, especially for preventing errors and ensuring correct execution of code. Incorrect variable access can lead to unexpected results and error messages.

In [78]:
number4 = 10  # Global variable 'number4' is defined with a value of 10.

def modify_global():  # A function named 'modify_global' is defined.
    global number4  # Access to the global 'number4' variable is granted within the function.
    number4 = 20  # The value of the global 'number4' variable is updated to 20.


print(number4)  # The 'number4' variable is printed to the console before the function is called. Output: 10
modify_global()  # The 'modify_global' function is called. This changes the value of 'number4' globally to 20.
print(number4)  # The updated value of 'number4' is printed to the console after the function is called. Output: 20

# In this code, by using the 'global' keyword, a global variable has been modified even from within a function's scope.

10
20

### Scope Summary Table

| **Scope Type** | **Definition** | **Access Area** |
|--------|------------------------------------------------------------------------|-------------------------------------|
| **Local** | Variables defined inside a function | Only that function |
| **Enclosing** | In nested functions, variables of the outer (enclosing) function | Can only be read from the inner function |
| **Global** | Variables defined outside a function or class | Accessible throughout the code |
| **Built-in** | Built-in variables and functions provided by Python | Accessible from anywhere |

**dict():**

Definition: dict() is a built-in function in Python that is used to create a dictionary.

Usage: The dict() function allows you to create a dictionary of key-value pairs.

In [79]:
# Create an empty dictionary
my_dict = dict()
print(my_dict) # {}

# Create a dictionary with key-value pairs
my_dict = dict(name="Ali", age=30)
print(my_dict) # {'name': 'Ali', 'age': 30}

{}
{'name': 'Ali', 'age': 30}

**get():**

Definition: The get() method is a method that returns the value corresponding to a specified key in a dictionary. If the key is not found in the dictionary, it returns None instead of an error or it can return a specified default value.

Usage: This method is useful for checking if the key exists. If the key does not exist, you will not get an error; it can return a default value instead.

In [80]:
my_dict = {"name": "Alice", "age": 30}

# If key exists, return value
print(my_dict.get("name")) # 'Ali'

# If key does not exist, return None
print(my_dict.get("address")) # None

# If key does not exist, return specified default value
print(my_dict.get("address", "Unknown")) # 'Unknown'

Alice
None
Unknown

`dict()` creates a new dictionary with empty or given key-value pairs.

`get()` returns the value of the specified key and can return a default value or None if the key does not exist.

### **Try and Except Blocks - Error Management**

Error management in Python allows you to control errors that may occur during the program's execution (exceptions). Try and except blocks are used in Python for error management. This structure ensures that errors are handled properly without causing the program to crash.

Errors can stop a program from running unexpectedly. For example:

- When a file is not found.
- When you divide a number by zero.
- When you receive invalid input.

Python refers to these types of errors as exceptions. To prevent errors:

- You can check the type of error.
- You can make the program continue to do a certain operation.

#### try and except Blocks

The try block contains code where errors may occur. If an error occurs, the except block is passed and the error is handled.

In [ ]:
try:
    # Code that may cause an error
    risky_code()
except ExceptionType:
    # Code that will be executed in case of an error
    handle_error()

In [82]:
# Example 1: Simple Division with Error Handling

try:
    x = int(input("Enter a number: "))
    y = int(input("Enter another number: "))
    result = x / y
    print("Result:", result)
except ZeroDivisionError:
    print("Error: You cannot divide a number by zero!")
except ValueError:
    print("Error: Please enter only numbers.")

Enter a number: 12
Enter another number: 15
Result: 0.8

**General Error Catching**

If you don't know the type of error, you can catch all errors in general with Exception.

In [83]:
try:
    numbers = [1, 2, 3]
    print(numbers[5])  # Index out of list bounds
except Exception as e:
    print(f"An error occurred: {e}")

An error occurred: list index out of range

**else Block**

else block executes if no error occurs in the try block.

In [84]:
try:
    x = 10
    y = 2
    result = x / y
except ZeroDivisionError:
    print("Zero division error!")
else:
    print("Result:", result)

Result: 5.0

**finally Block**

The finally block is executed in all cases, whether an error occurs or not. It is generally used for resource cleanup operations.

In [85]:
try:
    file = open("data.txt", "r")
    print(file.read())
except FileNotFoundError:
    print("Error: File not found.")
finally:
    print("Operation completed.")

Error: File not found.
Operation completed.

**Catch Multiple Error Types**

You can list multiple error types in a single except block.

In [86]:
try:
    x = int(input("Enter a number: "))
    y = int(input("Enter another number: "))
    result = x / y
    print("Result:", result)
except (ZeroDivisionError, ValueError) as e:
    print(f"An error occurred: {e}")

Enter a number: 20
Enter another number: 5
Result: 4.0

**Defining Custom Errors**

You can create custom error classes to define your own error types.

In [87]:
class Error(Exception):
    """A custom error type."""
    pass

def check_number(number):
    if number < 0:
        raise Error("Negative numbers are invalid!")

try:
    check_number(-1)
except Error as e:
    print(f"Custom error caught: {e}")

Custom error caught: Negative numbers are invalid!

**Common Error Types**
Some common error types in Python:

- ValueError: When an operation is attempted with an invalid value.
- TypeError: When an operation of the wrong type is performed.
- ZeroDivisionError: When a division by zero operation is performed.
- IndexError: When an index is used outside the bounds of a list or array.
- KeyError: When a key that does not exist in the dictionary is used.
- FileNotFoundError: When a file is not found

**What is Assert?**

assert is used to test a condition and throw an AssertionError if the condition is not met. It is often used for debugging and verifying that the program works as expected.

In [88]:
x = 10
assert x > 5, "x must be greater than 5!" # This does not throw an error

In [89]:
assert x < 5, "x must be less than 5!" # This will throw an error

AssertionError: x must be less than 5!

- assert is often used for testing or checking if a program is in a certain state.

- If assert fails (condition is false), the program stops with an AssertionError.

**What is raise?**

raise is used to manually throw an error in Python. This is used to create a custom error under certain conditions or to re-throw an existing error.

raise ExceptionType("Error message")

- ExceptionType: The type of error to throw (e.g. ValueError, TypeError, or your own custom error class).
- Error Message: The message of the error thrown (optional).

In [91]:
#: Raising an Error Under a Specific Condition

def check_positive_number(number):
    if number < 0:
        raise ValueError("Number cannot be negative!")
    return number

# Usage
try:
    check_positive_number(-5)
except ValueError as e:
    print(f"An error occurred: {e}")

# Output:
# An error occurred: Number cannot be negative!

An error occurred: Number cannot be negative!

In [92]:
# Raising Custom Exceptions
# You can define your own error class and raise custom exceptions.

class CustomError(Exception):
    """A custom error type."""
    pass

def check(number):
    if number < 0:
        raise CustomError("Negative value detected!")

try:
    check(-1)
except CustomError as e:
    print(f"Custom error caught: {e}")

# Output:
# Custom error caught: Negative value detected!

Custom error caught: Negative value detected!

In [93]:
# Re-raising an Exception
# You can re-raise an exception that has been caught in an except block.

try:
    x = int("abc")  # This will raise an error
except ValueError as e:
    print(f"Error caught: {e}")
    raise  # The error is re-raised

Error caught: invalid literal for int() with base 10: 'abc'

ValueError: invalid literal for int() with base 10: 'abc'

### Summary Table of Error Management

| **Block** | **Purpose** | **When Does It Work?** |
|-------------|-----------------------------------------------------------------------|--------------------------------------|
| `try` | Write code that may generate errors | If or not an error occurs |
| `except` | Catches and processes errors that occur | If an error occurs in the `try` block |
| `else` | Runs if no error occurs in the `try` block | In case of no error |
| `finally` | Runs in all cases (whether or not an error occurs) | Used for operations such as resource cleanup |
| `assert` | Tests if a specified condition is true, throws `AssertionError` if false | Runs when the condition is false (ideal for debugging) |
| `raise` | Throws a specific error or re-throws an existing error | When you need to manually generate an error |

| assert | raise |
|--------|-------|
| Automatically throws `AssertionError` if the condition is not true. | A desired error type and message are specified manually. |
| Often used during debugging. | Can be used to throw an error anywhere. |

# 🐍 **Python Cheatsheet – All Basic and Advanced Topics**

| **Topic** | **Explanation and Sample Codes** |
|-------------------------------------|--------------------------------------------------------------------------------------------------------------------------------------|
| **Python Installation and Running** | `python --version` – Check Python version<br>`pip install <package>` – Installing libraries |
**First Codes (print, input)** | `print("Hello!")` – Prints to the screen<br>`name = input("Your name: ")` – Gets data from the user |
| **Advantages of Python** | Simple syntax, versatile use, data science, web, automation etc. |
| **Variable Declaration** | `x = 5` – Numeric variable<br>`name = "John"` – String<br>`is_valid = True` – Boolean |
| **Data Types** | `int`, `float`, `str`, `bool`, `list`, `tuple`, `dict`, `set` |
| **Data Type Check** | `type(x)` – Gets the type of the variable<br>`isinstance(x, int)` – Checks if it belongs to the specified type |
| **Mathematical Operators** | `+`, `-`, `*`, `/`, `//` (full division), `%` (module), `**` (exponentiation) |
| **Comparison Operators** | `==`, `!=`, `<`, `>`, `<=`, `>=` |
| **Logical Operators** | `and`, `or`, `not` |
| **Conditional Expressions** | ```python<br>if x > 0:<br> print("Positive")<br>elif x == 0:<br> print("Zero")<br>else:<br> print("Negative")<br>``` |
| **Loops** | ```python<br>for i in range(5):<br> print(i)<br>```<br>`while x > 0:` – Repeats as long as condition is met |
| **break / continue / pass** | `break` – stops the loop<br>`continue` – go to next step<br>`pass` – skip |
| **Lists** | `my_list = [1, 2, 3]`<br>`my_list.append(4)` – Adds element<br>`my_list.pop()` – Removes last element |
| **Tuple** | `my_tuple = (1, 2, 3)`<br>`my_tuple[1]` – Access second element |
| **Dictionaries** | ```python<br>my_dict = {"key": "value"}<br>my_dict["key"] = "new_value"<br>``` |
| **Sets** | `my_set = {1, 2, 3}`<br>`my_set.add(4)` – Adds element<br>`my_set.remove(3)` – Removes element |
| **String Operations** | `name.upper()`, `name.lower()` – Convert to upper/lower case<br>`name.split()` – Split by spaces<br>`name.strip()` – Trim spaces |
| **Functions** | ```python<br>def my_function(x):<br> return x * 2<br>```<br>`my_function(5)` – Output: 10 |
| **Lambda Functions** | `double = lambda x: x * 2` – Single-line anonymous function |
| **args / kwargs** | `*args` – multiple positional arguments<br>`**kwargs` – multiple key-value arguments |
| **List Comprehensions** | ```python<br>[x ** 2 for x in range(5) if x % 2 == 0]<br>``` – [0, 4, 16] |
| **Error Handling (try-except)** | ```python<br>try:<br> result = 10 / 0<br>except ZeroDivisionError:<br> print("Error: Division error!")<br>``` |
| **File Operations** | ```python<br>with open("file.txt", "r") as f:<br> content = f.read()<br>``` |
| **Modules** | `import math` – Math module<br>`math.sqrt(16)` – Square root<br>`from random import randint` – randint from random module |
| **Time Operations** | ```python<br>import time<br>time.sleep(2)<br>print("In 2 seconds!")<br>``` |
| **Classes** | ```python<br>class MyClass:<br> def __init__(self, name):<br> self.name = name<br>my_obj = MyClass("Python")<br>``` |
| **Inheritance** | ```python<br>class Parent:<br> def greet(self):<br> print("Hello!")<br>class Child(Parent):<br> pass<br>``` |
| **Iterators** | ```python<br>my_iter = iter([1, 2, 3])<br>next(my_iter)<br>``` |
| **Generators** | ```python<br>def my_gen():<br> yield 1<br> yield 2<br>``` |
| **Decorators** | ```python<br>def decorator(func):<br> def wrapper():<br> print("Before")<br> func()<br> print("After")<br> return wrapper<br>``` |
| **Regular Expressions** | ```python<br>import re<br>re.match(r"\d+", "123")<br>``` |
| **Arguments and Parameters** | ```python<br>def greet(name="Guest"):<br> print(f"Hello, {name}!")<br>``` |
| **HTTP Requests with Python** | ```python<br>import requests<br>response = requests.get("https://api.github.com")<br>``` |

---