# What is Python?

What is Python?

Python is a powerful, open source, and easy-to-learn programming language developed by Guido van Rossum in 1991. Suitable for both beginners and professionals. Python stands out with its readability and ease of use.

Why Python?

- Simple and Easy to Learn: Python's simple syntax is ideal for beginners.
- Cross-Platform Support: It can run on Windows, macOS, and Linux.
- Rich Library Support: It offers powerful libraries for data science, machine learning, web development, and more.
- Active Community: It has a large user community, making it easy to learn and solve problems.

How to Install Python?

Go to Python's official website, python.org.

Download and install the version that suits your operating system.

Don't forget to check the "Add Python to PATH" option during installation.

After installation, you can check that Python is installed by running the following command in the terminal or command line:

python --version # Or for macOS/Linux: python3 --version

## Python Advantages

Python Advantages and Usage Areas
Advantages:

Readability: Python code is almost like natural language.

Comprehensive Application Area: It is used in many areas such as data analysis, artificial intelligence, web development, game development.

Community and Support: There are many resources and documentation about Python.

Dynamic Type System: You do not have to specify data types, Python does this automatically.

Areas of Use:

Data Science and Machine Learning: Analysis and modeling are done with libraries such as Pandas, NumPy, Scikit-learn.

Web Development: Dynamic websites are created with frameworks such as Flask, Django.

Game Development: Games can be made using the Pygame library.
System Automation and Scripting: Used to automate repetitive tasks.

## Python Tools and Frameworks

The following is a list of important tools and frameworks for developing different types of Python applications:

- Web Development: Django, Pyramid, Bottle, Tornado, Flask, web2py

- GUI Development: tkInter, PyGObject, PyQt, PySide, Kivy, wxPython

- Scientific and Numeric: SciPy, Pandas, IPython

- Software Development: Buildbot, Trac, Roundup

- System Administration: Ansible, Salt, OpenStack

## Python Version History

- There are two types of Python versions in the market. If a Python version starts with 2 (like 2.7.11) it belongs to Python 2.x, if it starts with 3 (like 3.6.2) it belongs to Python 3.x series.
- Python3 is more powerful and bug-free than Python2.
- A program written in Python2 will not run in Python3.
- Similarly, a program written in Python3 will not run in Python2.

**First Code with Python: print() and input()**

We can start by writing our first code in Python. Traditionally, when learning a new programming language, the message "Hello, World!" is printed on the screen.

**print() Function:**
Used to output to the screen.

In [1]:
print("Hello, World!")  # Output: Hello, World!

Hello, World!

**Python Syntax and Working Logic**

Python Syntax:

Python has a simple and readable syntax. Key rules:

Indentation: Code blocks in Python are defined by indentation.

Spaces are used instead of curly brackets ({}).

In [2]:
if 10 > 5:
    print("10 is greater than 5") # Correct indentation

10 is greater than 5

**Line Break:** A command usually ends on a line, but you can break very long commands with \.

In [3]:
total = 10 + 20 + \
         30 + 40

**Python Working Logic:**

**Interpreter:** Python code is executed line by line (no compile required).

**Dynamic Type Casting:** You do not have to specify the type of variables. Example:

In [79]:
x = 10      # int
y = "Hello" # str

**Comment Lines:**
You can add comments to make the code easier to understand:

In [4]:
# This is a comment line
print("This code works")

This code works

### Basic Data Types and Operators

**Text types** : str

**Numeric types**: int , float , complex

**Array types**: list , tuple , range

**Addressing types**: dict

**Set types**: set , frozenset

**Logical types**: bool

**Binary types**: bytes , bytearray , memoryview

**int (Integer)**
Represents integers. Can be negative, positive or zero.

| Data Type | Example |
|-------------|--------------------------------|
| **int** | 42, -7, 0 |
| **float** | 3.14, -0.1, 2.0 |
| **complex** | 1+2j, 3-4j |
| **str** | 'hello', 'Python' |
| **bool** | True, False |
| **list** | [1, 2, 3], ['a', 'b'] |
| **tuple** | (10, 20, 30) |
| **set** | {1, 2, 3} |
| **frozenset** | frozenset([1, 2, 3]) |
| **dict** | {'key': 'value', 'x': 10} |
| **NoneType** | None |

**Numerical (Scalar) Data Types: int, float, complex**

**int** Positive or negative integers (without a fractional part)

In [81]:
a = 10       # int
b = -5       # int
c = 0        # int

**float (Decimal Numbers)**
Represents numbers that contain a decimal point.

In [82]:
pi = 3.14    # float
negative = -7.2  # float

**complex (Complex Numbers)** Complex numbers consist of a real part and an imaginary part.

In [83]:
z = 3 + 4j   # complex
print(z.real)  # 3.0
print(z.imag)  # 4.0

3.0
4.0

**Text Types: str and String Operations**

**str (String)**
Represents textual data. It is written between double or single quotes.

In [84]:
greeting = "Hello, World!"  # str
name = 'Rose'              # str

**String Operations:**

In [5]:
# Merge:

first = "Hello"
second = "World"
combined = first + " " + second
print(combined) # "Hello World"

Hello World

In [6]:
# Again:

print("Python " * 4)  # "Python Python Python"

Python Python Python Python

In [7]:
## Finding Length:

message = "Hello"
print(len(message))  # 7

5

In [8]:
# Substring Access:

text = "Python"
print(text[0]) # "P"
print(text[-1]) # "n"
print(text[0:3]) # "Pyt" (0 to 3)

P
n
Pyt

**Logical Data Types: bool**
Logical values ​​take only two states: True and False.

In [89]:
is_active = True
is_logged_in = False

In [9]:
# Logical Operations:

a = 5
b = 10
print(a < b) # True
print(a == b) # False

True
False

**None:** None represents the null object in Python. None is returned by functions that do not explicitly return a value.

**Variable Declaration and Dynamic Types** To define a variable in Python, you only need to assign a name and a value. You do not need to specify the type of the variable in advance.

In [95]:
age = 25         # int
name = "Alice"   # str
pi = 3.14        # float
is_active = True # bool

**Dynamic Type Assignment:** The type of a variable is automatically determined depending on the assigned value. It is also possible to switch between types.

In [10]:
x = 21 # int
x = "Hello" # str (Type changed)

**Type Conversions:**
In some cases, we may need a type conversion.

In [11]:
# int -> str
number = 42
text = str(number)
print(text)  # "42"

# str -> float
value = "3.14"
number = float(value)
print(number)  # 3.14

42
3.14

#### PEP 8 (Python Enhancement Proposal 8)

This is the recommended style guide for writing code in the Python programming language. This guide was created to improve the readability of the code and provide a consistent coding standard for the Python community. Here are the basic rules of PEP 8:

**Code Layout and Indentation**
Indentations: Use 4 spaces (not tabs) to denote code blocks.

In [12]:
if True:
    print("Indentation example")

Indentation example

**Using Spaces**

Operators and Commas: Use a space before and after arithmetic and comparison operators.

In [16]:
x = 5 + 3
y = (x * 2) / 4
print(y)

4.0

Function Parameters: Do not leave spaces between parameters in parentheses and operators.

In [15]:
def my_function(function1, function2):
    pass

**Blank Lines:**

Leave two blank lines between functions and classes.
You can use a blank line to separate sections within a function.

In [17]:
def my_function_one():
    # Part 1
    pass

    # Part 2
    pass


def my_function_two():
    # Part 1
    pass

    # Part 2
    pass

**In Lists and Dictionaries:** Do not leave spaces between the elements inside the parentheses.

In [105]:
my_list = [1, 2, 3]
my_dict = {"key": "value"}

**Docstring Usage:** Add comments for functions, classes, and modules using triple quotation marks (""").

In [19]:
def total(a, b):
    """
    This function adds two numbers and returns the result.

    Parameters:
    a (int): First number to add.
    b (int): Second number to add.

    Returns:
    int: Total.
    """
    return a + b

- Start with a Letter and Underscore: Identifiers must start with a letter (A-Z, a-z) or an underscore (_). They cannot start with a number.

In [20]:
my_variable = 10 # Valid
_hidden = 42 # Valid
variable = 20 # Invalid

- Alphanumeric and Underscore: Identifiers can contain letters, numbers, and underscores (_).

In [23]:
var123 = "hello" # Valid
my-var = 10 # Invalid

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3620419572.py, line 2)

- Case Sensitivity: Python is case sensitive. For example, MyVar and myvar are different variables.

- Special Characters Cannot contain spaces. Special characters (%, $, @ etc.) cannot be used.

In [24]:
my variable = 10  # Invalid

SyntaxError: invalid syntax (4049929306.py, line 1)

- Avoid Reserved Words

Python keywords (e.g. if, else, True, class) cannot be used as identifiers.

In [25]:
class = 10 # Invalid
True _ 10 # Invalid

SyntaxError: invalid syntax (515651389.py, line 1)

**Naming Conventions**

In [26]:
# Snake Case (variables and functions): Use lowercase letters and underscores.

my_variable = 10
def my_function():
    pass

In [27]:
# Pascal Case (class names): The first letter of each word is capitalized.

class MyClass:
    pass

In [28]:
# Special Methods: Names are preceded and followed by double underscores
# (__init__, __str__)

In [29]:
# Constants: All capital letters, words separated by underscores.

PI = 3.14
MAX_LIMIT = 100

- Special Meaningful Names

- Underscore at the Beginning: _variable usually indicates protected variables.

- Double Underscore at the Beginning and End: __init__, __str__, etc. special (magic/double underscore) methods.

- Single Underscore at the End: Used to avoid conflict.

In [30]:
def function_():
    pass

In [31]:
# Meaningful and Descriptive Names
# Variable and function names should clearly state what they represent or do.

total_price = 100.50 # Meaningful
x = 100.50 # Meaningless

### Data Types Conversion

In [32]:
a = 4

print(a)          # 4
print(type(a))    # <class 'int'>

4
<class 'int'>

In [33]:
a = float(a)

print(a)          # 4.0
print(type(a))    # <class 'float'>

4.0
<class 'float'>

In [34]:
a = 4

print(type(a))    # <class 'int'>

<class 'int'>

In [35]:
a = str(a)

print(type(a))    # <class 'str'>

<class 'str'>

In [36]:
x = 3    # int

a = float(x)

In [37]:
print(a)            # 3.0

print(type(a))      # <class 'float'>

3.0
<class 'float'>

In [38]:
x = 7.3    # float

a = int(x)

In [39]:
print(a)            # 7

print(type(a))      # <class 'int'>

7
<class 'int'>

In [40]:
# This change is not permanent.

height = 2.13
str(height)

'2.13'

In [41]:
type(height)

float

In [42]:
height_str = str(height)  # I need to redefine
type(height_str)

str

In [43]:
type(height_str)

str

In [44]:
# int to str

student_number = 82
student_number = str(student_number)
type(student_number)

str

In [45]:
# int -> str
number = 42
text = str(number)
print(text)  # "42"

# str -> float
value = "3.14"
number = float(value)
print(number)  # 3.14

42
3.14

In [46]:
# bool to str

isScheduled = True 
str(isScheduled)

'True'

In [47]:
# str to int
# If a string is similar to an integer, it can be converted to an integer, otherwise it cannot be converted. 

int('Hello World')

ValueError: invalid literal for int() with base 10: 'Hello World'

In [48]:
# If we try to convert a float expression directly to integer, we will get an error. The expression must first be converted to float and then from float to integer.

y = '180.89'
int(y)

ValueError: invalid literal for int() with base 10: '180.89'

In [49]:
# When converting a float number to integers, Python discards the part after the decimal point.

int(float(y))

180

In [50]:
# bool to int
# True represents existence.

int(True)

1

In [51]:
# Represents absence.

int(False)

0

In [53]:
x = 7.3
y = 7.5
z = 7.8

a = round(x)
b = round(y)
c = round(z)

print(a)    # 7
print(b)    # 8
print(c)    # 8

7
8
8

**Operators (Arithmetic Operations)** In Python, operators are used to perform operations on variables.

In [55]:
a = 10
b = 4
print(a + b) # Addition: 13
print(a - b) # Subtraction: 7
print(a * b) # Multiplication: 30
print(a / b) # Division: 3.333...
print(a // b) # Floor division: 3
print(a % b) # Modulus: 1
print(a ** b) # Exponentiation: 1000

14
6
40
2.5
2
2
10000

In [56]:
# The result of the division operation is a float.

30 / 6
type (30 / 6)

float

In [57]:
# If we don't want the result as a float, but it is required as an integer, then we can use full division '//'. It does not round, it just drops the part after the decimal point.
30 // 3
type (30 // 3)

int

In [58]:
# % -> gives the remainder of the division.

21 % 5

1

In [59]:
#3 to the 3rd power (3 cubed)

3 ** 3

27

In [60]:
# Pow comes from power, it is a function used to take exponents.

pow(3, 3)

27

In [61]:
# There is no function specified in Python to get the root.

25 ** 0.5

5.0

In [62]:
25 ** (1/2)

5.0

In [63]:
# Since exponentiation comes before division in the operation priority, the desired result could not be obtained in the output.

25 ** 1/2

12.5

**Operation Priority**

- Parentheses
- Exponents
- Multiplication and division
- Addition and subtraction

In [64]:
x = (4 + 3 * 2) ** 2 + (120 // (5 * 4) - 10)
x

96

**Comparison Operators**
Returns True or False as a result.

In [65]:
x = 5
y = 10
print(x == y) # Is it equal: False
print(x != y) # Is it not equal: True
print(x > y) # Is it greater than: False
print(x < y) # Is it less than: True

False
True
False
True

In [66]:
type(7) == type(7.0)

False

In [67]:
int(8.9) == 8

True

In [68]:
# Isn't it equal?

5 != 5

False

In [69]:
False <= 0

True

In [70]:
True > 0.9

True

In [71]:
type(7) == type(7.0)

False

**Falsy / Truthy Values**

In [72]:
# 0, 0.0, False, '', (), {}, [], None

print(f'0 {bool(0)}')
print(f'0.0 {bool(0.0)}')
print(f'False {bool(False)}')
print(f"'' {bool('')}")

0 False
0.0 False
False False
'' False

**Logic Operators(Logic Expressions)**
Used to combine logical expressions.

In [73]:
x = True
y = False
print(x and y) # Are both true: False
print(x or y) # Are either true: True
print(not x) # Reverse: False

False
True
False

Process Priority

- 1.not
- 2.and
- 3.or

In [74]:
# and -> Looks for False!
# If all are true, it prints the last element.
# If there is even one false, it prints the first false it sees.
# We will use and when all conditions are met.
# It is a perfectionist.

In [75]:
'a' and '' and 8 and {}

''

In [76]:
6 and 9 and 'Melisa'

'Melisa'

In [77]:
# or -> Searches for True value!
# If all are false, it returns the last element, if there is even one true, it returns the first true expression it sees.

In [78]:
8 or 0 or 'Ankara'

8

In [79]:
0 or '' or [] or 8 or 'İstanbul'

8

In [80]:
False or (False and 'Aylin' or not '' and (0 or 0.1))

0.1

### Using print, f-string, format, input, Escape Sequences and ASCII in Python

**print() Function** is used to give output to the screen.

In [81]:
print("Hello, World!") # Output: Hello, World!

Hello, World!

In [82]:
# Returns you the details of the function.

help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [83]:
# Printing Multiple Values:

print("Python", "programming", "language") # Output: Python programming language

Python programming language

In [84]:
# Also Expression Usage:

print(3 + 5) # Output: 8

8

#### Special Parameters:
sep (separator): Specifies what to put between the printed values.

In [85]:
print("Python", "C", "Java", sep="- ") # Output: Python, C, Java

Python- C- Java

end: Specifies what to append to the end of the output (a line break is added by default).

In [86]:
print("Hello", end="!") # Output: Hello!

Hello!

**f-string (Formatted Strings)**
Available in Python 3.6 and later. Allows you to easily use variables in text.

In [87]:
name = "Alice"
age = 25
print(f"Hello, my name is {name} and I am {age} years old.")
# Output: Hello, my name is Alice and I am 25 years old.

Hello, my name is Alice and I am 25 years old.

In [88]:
# We can write variable names inside curly brackets.
# We can also use Python codes inside curly brackets.

name = 'Rose'
job = 'Instructor'
country = 'Turkey'
print(f'Name: {name} Job: {job} Country: {country}')

Name: Rose Job: Instructor Country: Turkey

**Mathematical Operations and Expressions:**

In [89]:
a = 5
b = 10
print(f"{a} + {b} = {a + b}") # Output: 5 + 10 = 15

5 + 10 = 15

**Rounding Operations:**

In [90]:
pi = 3.14159
print(f"Pi is approximately {pi:.2f}") # Output: Pi is approximately 3.14

Pi is approximately 3.14

**format() Method**
Used to place variables.

In [91]:
name = "Jake"
age = 30
print("My name is {} and I am {} years old.".format(name, age))
# Output: My name is Jake and I am 30 years old.

My name is Jake and I am 30 years old.

**Position Based:**

In [92]:
print("{1} and {0} are programming languages.".format("Python", "Java"))
# Output: Java and Python are programming languages.

Java and Python are programming languages.

**Name Based:**

In [93]:
print("My name is {name} and my age is {age}".format(name="Alice", age=25))
# Output: My name is Alice and my age is 25

My name is Alice and my age is 25

**input() Function**
Used to receive data from the user.

In [94]:
name = input("Enter your name: ") # User enters data
print(f"Hello, {name}!")
# Output: Prints the user's name

Hello, Alice!

**Numeric Inputs:**
All data received with input() comes as text (str). Conversion is required for numeric data:

In [95]:
age = int(input("Enter your age: ")) # The entered data is converted to a number
print(f"The age you entered: {age}")

The age you entered: 25

In [101]:
# Get the radius of a circle as an integer from the user.
# Write the code that outputs the area of ​​this circle as an integer and use fstring.

import math
r = int(input('Enter the radius of the circle:'))
pi = math.pi
area = pi * (r ** 2)
print(f'The area of ​​the circle with radius {r} is: {round(area, 3)}.')

# round -> is a function we use to round the number.
# The round function can also determine how many digits will appear after the decimal point.

The area of ​​the circle with radius 2 is: 12.566.

In [103]:
# Yukaridaki cevabin iyilestirilmis hali.

import math
r = int (input ('Lütfen alanini hesaplamak istediginiz dairenin yari capini giriniz:'))
alan = math.pi * pow (r, 2)
print (f'Yari capi {r} olan dairenin alani: {round(alan)}\'dir.')

Yari capi 2 olan dairenin alani: 13'dir.

In [104]:
# Improvement of the above answer.

import math
r = int (input ('Please enter the radius of the circle whose area you want to calculate:'))
area = math.pi * pow (r, 2)
print (f'The area of ​​the circle with radius {r} is: {round(area)}\'')

The area of ​​the circle with radius 2 is: 13'

**String and Its Definition**

String is a data type that represents text in Python and is called a sequence of characters. Strings can be defined with single quotes ('), double quotes ("), or triple quotes (''' or """).

In [105]:
# Single quote string
text1 = 'Hello'

# Double quote string
text2 = "World"

# Triple quote multi-line string
text3 = '''This
is
a
multi-line
string.'''

Note:

- There is no functional difference between single and double quotes. It can be chosen according to need.
- Triple quotes are generally used for multi-line texts or long descriptions (docstrings).

**String Indexing**
Since strings are a sequence of characters, each character has an index (position number). In Python, indexes start at zero (0).

- +------------------+---+---+---+---+---+---+---+
- | Character | P | y | t | h | o | n | 
- +------------------+---+---+---+---+---+---+---+
- | Positive Index | 0 | 1 | 2 | 3 | 4 | 5 | 
- | Negative Index |-6 |-5 |-4 |-3 |-2 |-1 |
- +------------------+---+---+---+---+---+---+---+

Usage:

- Positive index is sorted from left to right (0 is the first character).
- Negative index is sorted from right to left (-1 is the last character).
Examples:

In [106]:
text = "Hello"

print(text[0]) # Output: 'M' -> First character
print(text[4]) # Output: 'a' -> Fifth character
print(text[-1]) # Output: 'a' -> Last character
print(text[-3]) # Output: 'b' -> Third character from the end

H
o
o
l

**String Slicing**

- Slicing is used to get a specific section of a string. Slicing in Python is done as follows:
string[start:end:step]

- start: Index to start fetching (inclusive).
- end: End index to fetch (exclusive).
- step: Frequency between characters to be fetched.

In [107]:
# [Start point : End point] Start point is included but end point is not included.
# Syntax in mathematics: [2,3)

'Computer'[0:3]

'Com'

In [108]:
text = "Hello World"

print(text[0:7]) # Output: 'Hello' -> 0 to 7 (excluding 7)
print(text[:7]) # Output: 'Hello' -> If no start is specified, 0 is assumed
print(text[8:]) # Output: 'World' -> 8 to end
print(text[::2]) # Output: 'MraaDny' -> Take every 2 characters
print(text[::-1]) # Output: 'aynüD abahreM' -> Reverse the string

Hello W
Hello W
rld
HloWrd
dlroW olleH

**Detailed Slicing Explanation:**

- text[2:5] → Start from 2, take up to 5 (excluding 5).
- text[:5] → Start from the beginning, take up to 5.
- text[5:] → Start from 5, take up to the end.
- text[::3] → Start from the beginning, take characters in 3 steps.
- text[::-1] → Take the entire string in reverse.

In [109]:
# If the end index is not specified, by default it goes as far as it can go, that is, to the very end. If we do not specify the starting point, this time it starts from the very beginning by default.

print ('Computer'[5:])

print ('Computer'[:5])

print ('Computer'[:])

ter
Compu
Computer

In [110]:
# Text [Start : End : Step] The number of steps is 1 by default. In this example, we set the number of steps to 3.

'Hello World'[0:12:3]

'HlWl'

In [111]:
# It ends before it starts, because it sees the finish line first.

'Dilara'[0:6:-1]

''

**String Reversal and Stepping Techniques**

String Reversal:
Slicing is used to reverse the entire string:

In [112]:
text = "Python"
reverse = text[::-1]
print(reverse) # Output: 'nohtyP'

nohtyP

**Step Techniques:**
The step parameter is used to select characters at specific intervals:

In [114]:
text = "Hello World"

print(text[::2]) # Output: 'HloWrd' -> Take every 2 characters
print(text[1::3]) # Output: 'eood' -> Start from 1, take characters in 3 steps

HloWrd
eood

**Reverse and Step Access:**
Both reverse and step access are possible:

In [115]:
text = "Python"
print(text[::-2]) # Output: 'nhy' -> Reverse and step by 2

nhy

**Summary:**
- What is a String?: They are character sequences and are defined with ', ", '''.
- Indexing: Used to access a specific character.
- Slicing: Used to get a specific section of the String.
- Reversing and Stepping: Slicing is done to reverse the String or access characters at specific intervals.
- With this basic information, you can easily perform many different operations on strings.

In [116]:
# Indexes start from 0 from left to right. and [] -> square brackets are used when indexing.

'Nice lesson' [0]

'N'

In [117]:
# -1 returns the last character.

'Nice lesson' [-1]

'n'

In [118]:
# Space is also a character.

'Nice lesson' [4]

' '

In [120]:
'Nice lesson' [40] # IndexError: String index out of range

IndexError: string index out of range

In [121]:
# Strings are immutable, meaning they cannot be changed unless reassigned.

name = 'Hello World'
name[5] = name[-1]

TypeError: 'str' object does not support item assignment

In [122]:
name[6] == name[-11]

False

**Concatenation** is the process of combining two or more arrays (string, list, etc.) in Python. It is usually used for text (string) concatenation.

**String Concatenation**

Text concatenation is done using the + operator. For example, to concatenate two strings, it is written as:

In [123]:
string1 = "Hello"
string2 = "World"
result = string1 + " " + string2 # Add a space
print(result)

Hello World

In [ ]:
# Strings cannot be divided or subtracted.

'HelloWorld' - 'World'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

#### Escape Sequences

Used to insert special characters in text.

Escape Sequence	       |    Anlamı
-     \n	   |    New line
-     \t	   |     Tab space
-     \\	   |     Backslash (\)
-     \'	   |     Single quote (')
-     \"	   |     Double quote (")

In [125]:
# \\ : Backslash
# Used to print a backslash (\) to the screen.

print("This is a backslash: \\")

This is a backslash: \

In [126]:
# \' : Single Quote
# To use single quotes inside a single quoted string.

print('This is a single quote: \'')

This is a single quote: '

In [127]:
# \" : Double Quote
# To use double quotes inside a double quoted string.

print("This is a double quote: \"")

This is a double quote: "

In [128]:
# \n : New Line
# Used to create a new line.

print("First line\nSecond line")

First line
Second line

In [129]:
# \t : Tab Space
# To insert a tab space (usually 4-8 characters wide).

print("Python\tProgramming")

Python	Programming

In [130]:
# \b : Backspace
# Used to delete a character.

print("Python\b!")

Pytho!

In [131]:
# \r : Carriage Return
# Returns to the beginning of the line and overwrites the current line from the beginning.

print("Hello World\rPython")

PythonWorld

In [135]:
# \f : Page Feed (Form Feed)
# Adds a page feed. Usually used for older printers, it may appear as a new line on the screen.

print("First Page\fSecond Page")

First PageSecond Page

In [136]:
# \n : Vertical Tab
# Adds a vertical space.

print("Python\nProgramming")

Python
Programming

In [139]:
# \a : Warning (Bell)
# Makes a warning sound (on systems that support it).

print("\a")
# Output: (Warning sound if the computer supports it)



In [140]:
# \0 : Null Character
# Inserts a null character. In most cases, it has no visible effect, but can be used during text processing.

print("Null character: After \0")
# Output: Null character: After

Null character: After  

In [141]:
# \N{name} : Unicode Character Name
# Specifies the Unicode character by name.

print("\N{COPYRIGHT SIGN}")
# Output: ©

©

In [142]:
# \uXXXX : 16-Bit Unicode
# Adds the specified 16-bit Unicode character.

print("\u00A9")
# Output: ©

©

In [143]:
# \UXXXXXXXX : 32-Bit Unicode
# Adds the specified 32-bit Unicode character.

print("\U0001F600")
# Output: 😀

😀

In [144]:
# \xXX : Hexadecimal Character
# Adds the specified hexadecimal Unicode character.

print("\x48\x65\x6C\x6C\x6F")
# Output: Hello

Hello

In [145]:
print("Escape Sequence Examples:\n")
print("New line:\nThis line is on a new line")
print("Tab space:\tSeparated by Tab")
print("Backslash (\\): this is an example")
print("Single quote (\' and \'): 'Python'")
print("Double quote (\"): \"Python\"")

Escape Sequence Examples:

New line:
This line is on a new line
Tab space:	Separated by Tab
Backslash (\): this is an example
Single quote (' and '): 'Python'
Double quote ("): "Python"

**ASCII and ord(), chr()**

- ord(): Returns the ASCII (Unicode) value of a character.
- chr(): Returns the character corresponding to an ASCII value.

In [146]:
print(ord('A')) # Output: 65
print(chr(65)) # Output: A

65
A

**Looping with ASCII Table:**

In [147]:
for i in range(65, 91): # Capital letters
    print(f"{i} -> {chr(i)}")
# Output:
# 65 -> A
# 66 -> B
# ...
# 90 -> Z

65 -> A
66 -> B
67 -> C
68 -> D
69 -> E
70 -> F
71 -> G
72 -> H
73 -> I
74 -> J
75 -> K
76 -> L
77 -> M
78 -> N
79 -> O
80 -> P
81 -> Q
82 -> R
83 -> S
84 -> T
85 -> U
86 -> V
87 -> W
88 -> X
89 -> Y
90 -> Z

**Summary and Complete Example**
The following example shows all topics together:

In [149]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
ascii_val = ord(name[0]) # ASCII value of the first letter of the name

print(f"Hello, {name}! You are {age} years old.")
print("ASCII value of the first letter of your name: {}".format(ascii_val))
print("Escape example: New line\nand tab\tspace!")

Hello, Alice! You are 22 years old.
ASCII value of the first letter of your name: 65
Escape example: New line
and tab	space!

In [150]:
# a=10, b=20.
# To swap a and b values ​​and get a=20 and b=10?

a = 10
b = 20
a, b = b, a
print (a, b)

20 10

In [151]:
# Ask the user to enter a second value. Print the entered seconds in hours, minutes and seconds.

entered_second = int (input ("Please enter the seconds you want calculated: "))
hour = entered_second // 3600
minute = (entered_second % 3600) // 60
second = entered_second % 60
print (f"The {entered_second} seconds you entered = {hour} hours, {minute} minutes and {second} seconds.")

The 50 seconds you entered = 0 hours, 0 minutes and 50 seconds.

In [152]:
# Improved version of the answer to the question above.

entered_second = int(input("Please enter the seconds you want to calculate:"))

if entered_second < 0:
    print("Please enter a positive seconds value.")
else:
    hour = entered_second // 3600
    minute = (entered_second % 3600) // 60
    second = entered_second % 60
    print(f"The {entered_second} seconds you entered = {hour} hours, {minute} minutes and {second} seconds.")

The 50 seconds you entered = 0 hours, 0 minutes and 50 seconds.

**Conditions - if, else, elif**

Condition structures in Python allow the code to follow different paths according to certain conditions. They are used to control the program flow. The if, elif and else keywords are the basis of these structures.

**if Structure**

- The if keyword checks if a condition is true.
- If the condition is true, the code block inside it is executed.

In [153]:
number = 15

if number > 10: # If number is greater than 10
    print("Number is greater than 10.")

Number is greater than 10.

In [154]:
number = 10

if number > 5:
    print("Number is greater than 5.") # Output: Number is greater than 5.

Number is greater than 5.

**else Structure**

- else is executed when the if condition is false.
- used with if and no condition is required.

In [155]:
number = 5

if number > 10: # If number is greater than 10
    print("Number is greater than 10.")
else: # If the above condition is not true
    print("Number is less than or equal to 10.")

Number is less than or equal to 10.

**elif Structure**

elif is used when more than one condition needs to be checked. When an if condition is not true, other conditions are checked with elif.

In [156]:
number = 10

if number > 10: # If number is greater than 10
    print("Number is greater than 10.")
elif number == 10: # If number is equal to 10
    print("Number is equal to 10.")
else: # If none of the above conditions are true
    print("Number is less than 10.")

Number is equal to 10.

**Difference between elif and else:**
- elif must be written with a condition, it can be used as many times as desired.
- else cannot be written with a condition, it should only be used once and at the end.

**Combination of Conditions**
Multiple conditions can be combined with logical operators such as and, or.

In [157]:
number = 8

if number > 5 and number < 10: # number is both greater than 5 and less than 10
    print("Number is between 5 and 10.")
else:
    print("Number is not between 5 and 10.")

Number is between 5 and 10.

**Condition Control by Receiving Data from the User**
A condition control can be performed by receiving data from the user and using this data.

In [158]:
age = int(input("Enter your age: "))

if age < 18:
    print("You are not a minor.")
elif age == 18:
    print("You are just in the limit.")
else:
    print("You are an adult.")

You are an adult.

**Let's Use All Structures Together**
A program that evaluates a student based on their grades:

In [159]:
grade = int(input("Enter the student's grade: "))

if grade >= 85:
    print("Congratulations, you are very successful!")
elif grade >= 70:
    print("You got a good grade.")
elif grade >= 50:
    print("You passed.")
else:
    print("Unfortunately, you failed.")

Congratulations, you are very successful!

**Short Writing (Ternary)**
In some cases, conditional structures can be written in a shorter form.

In [160]:
number = 7
result = "Odd" if number % 2 != 0 else "Even"
print(result)

Odd

**Summary:**
- if: Executes if a condition is true.
- elif: Checks alternative conditions.
- else: Executes if all other conditions are false.
- Logical operators: Combine conditions (and, or, not).

In [161]:
# if syntax;
# if condition1:
# statement1 (Must contain 4 spaces on the left, pep 8 rule, must.)

# if True it prints, if False it doesn't print. It deals with true and false values, looks at boolean value.
if 8 > 5:
    print ('Hello')
if 8 < 5:
    print ('hello')
if 6:
    print ('merhaba')
if '':
    print('hi')
if 'melisa' and 1:
    print ('hello')

Hello
merhaba
hello

In [162]:
# If a variable is defined inside the if, it can be accessed outside the if, but only if it is True.

if True:
    y = 0
    y += 5

print (y)

5

In [163]:
# if, else syntax;
# if condition1:
# statement1 (There is a gap!)
# else:
# statement2 (There is a gap!)

# If condition 1 is true then statement 1 is executed, otherwise statement 2 is executed.

if 10 > 5:
    print("10 is greater than 5")
else:
    print('hello')

10 is greater than 5

In [164]:
if 10 < 5:
    print("10 is greater than 5")
else:
    print('hello')

hello

In [167]:

# Get the status code from the user, if the status code is 200 then Successful, if 400 then Bad Request, if 500 then Server Error, write a program that prints it.

status_code = input ("Enter the status code:")
if status_code.isnumeric():
    status_code = int(status_code)
    if status_code == 200:
        print ('Successful')
    elif status_code == 400:
        print ('Bad Request')
    elif status_code == 500:
        print ('Server Error')
    else:
        print ('Enter one of the numbers 200, 400 or 500.')
else:
    print ('Please enter a number')

Successful

In [168]:
# A restaurant charges its customers a service fee based on the total amount of the food they order.
# If the order amount is between 100 TL and 199 TL, a 5% service fee is applied.
# If the order amount is between 50 TL and 99 TL, a 10% service fee is applied.
# If the order amount is under 50 TL, a 15% service fee is applied.
# Write a program that takes the order amount as input, calculates the service fee to be applied, and prints the total amount to be paid.

total_order_amount = input("Please enter the total order amount")

service_fee = 0.05
service_fee_2 = 0.1
service_fee_3 = 0.15
if total_order_amount.isnumeric():

    total_order_amount = float(total_order_amount)
    if (total_order_amount >= 200):
        print(f"The total amount you need to pay, including the service fee (Exempt from), is {total_order_amount} ₺.")
    elif (100 <= total_order_amount):
        print(f"The total amount you need to pay, including the service fee, is {(total_order_amount * service_fee) + (total_order_amount)} TL")
    elif (50 <= total_order_amount):
        print(f"The total amount you need to pay, including the service fee, is {(total_order_amount * service_fee_2) + (total_order_amount)} TL")
    elif (0 <= total_order_amount):
        print(f"The total amount you need to pay, including the service fee, is {(total_order_amount * service_fee_3) + (total_order_amount)} TL")
    else:
        print("Please input a correct price.")
else:
    print("Please enter the price you want to verify, correctly and in numerical format.")

The total amount you need to pay, including the service fee, is 159.6 TL

## Data Structures and Methods

Data structures in Python are the basic tools used to store and manage different types of data. In this chapter, we will cover data structures such as Strings, Lists, Tuples, Dictionaries, and Sets and their basic methods.

**String Methods**

The string data type in Python is used to store and manipulate text data. Some common methods of strings are:

In [169]:
text = "Python Programming"

# 1. len() - Returns the length of the string
print(len(text)) # Output: 19

# 2. upper() and lower() - Convert upper/lower case
print(text.upper()) # Output: PYTHON PROGRAMMING
print(text.lower()) # Output: python programming

# 3. strip() - Removes leading and trailing spaces
bosluklu = " Hello "
print(bosluklu.strip()) # Output: Hello

# 4. replace() - Replaces characters
print(text.replace("Python", "Java")) # Output: Java Programming

# 5. split() - Splits the string according to a specified separator
print(text.split()) # Output: ['Python', 'Programming']

# 6. find() - First index of the substring returns
print(text.find("Pro")) # Output: 7

# 7. startswith() and endswith() - Controls the start/end
print(text.startswith("Python")) # Output: True
print(text.endswith("lama")) # Output: True

18
PYTHON PROGRAMMING
python programming
Hello
Java Programming
['Python', 'Programming']
7
True
False

**capitalize()**

In [170]:
# The first letter should be written in uppercase and the other letters in lowercase.

'ComPUter'.capitalize()

'Computer'

In [171]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, /, count=-1) unbound builtins.str method
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

**Lists: Definition, Operations, and Methods**

A list is a collection that is ordered, modifiable, and can hold different types of data.

**isalpha()**
Checks if a string consists of only letters. Returns True or False.

In [173]:
print("Hello".isalpha()) 
print("Hello123".isalpha())

True
False

**isupper()**
Checks if a string is in uppercase.

In [174]:
print("HELLO".isupper()) 
print("Hello".isupper())

True
False

**islower()**
Checks if all letters in a string are lowercase.

In [175]:
print("hello".islower()) 
print("Hello".islower())

True
False

**isnumeric()**
Checks if a string consists of only numbers.

In [176]:
print("12345".isnumeric())
print("123abc".isnumeric())

True
False

**istit()**
Checks if a string conforms to the title format. In the title format, the first letter of each word is capitalized.

In [177]:
print("Python Programming".istitle())
print("python Programming".istitle())

True
False

**swapcase()**
Converts uppercase letters in a string to lowercase and lowercase letters to uppercase.

In [178]:
print("Hello World".swapcase())

hELLO wORLD

**count(substring)**
Finds the number of times a substring occurs within the main string.

In [179]:
text = "Python Programming Python"
print(text.count("Python"))

2

**Lists: Definition, Operations, and Methods**

A list is a collection that is ordered, modifiable, and can hold different types of data.

- Collection - They can hold multiple data.
- Mutable -> They can be changed without assignment.
- Iterable -> We can access the elements one by one.
- They can be indexed.
- Flexible - Flexible
- A list can be created in two different ways: [], list()

**List Definition**

In [195]:
my_list = [1, 2, 3, "Python", True]

In [192]:
list_1 = ['Istanbul', False, 0.0, 5, 0, '', 'Hello World', 90]
print (list_1)
print (list_1[0])
print (list_1[-1])
print (list_1[3])
print (list_1[0][4])
print (len(list_1))

['Istanbul', False, 0.0, 5, 0, '', 'Hello World', 90]
Istanbul
90
5
n
8

In [182]:
# 2. As method list()
# The data we put in the List method must be iterable.

list1 = list (12345)

TypeError: 'list' object is not callable

**List Operations**

In [199]:
my_empty_list = []
print(my_empty_list)

[]

In [200]:
my_numbers = [1, 2, 3, 4, 5]
print(my_numbers) 

my_mixed_list = [10, "hello", 3.14, True]
print(my_mixed_list)

[1, 2, 3, 4, 5]
[10, 'hello', 3.14, True]

In [205]:
# Repeated data of a listen can be placed.

list_2 = [6, 'Melisa', 6, 6, 'Melisa', 6]

In [206]:
# Slicing can be done on lists, just like on strings.

list_3 = [6, False, True, 0, 0.0, 'Adana', 'Burak', [4,9,2,'Bursa']]
list_3[::-1]

[[4, 9, 2, 'Bursa'], 'Burak', 'Adana', 0.0, 0, True, False, 6]

In [207]:
# This change is not permanent.

list_3

[6, False, True, 0, 0.0, 'Adana', 'Burak', [4, 9, 2, 'Bursa']]

In [208]:
list_3[3:6]

[0, 0.0, 'Adana']

In [209]:
# Lists are mutable, we changed it permanently.

list_3[5] = 'Istanbul'
list_3

[6, False, True, 0, 0.0, 'Istanbul', 'Burak', [4, 9, 2, 'Bursa']]

In [210]:
list_3

[6, False, True, 0, 0.0, 'Istanbul', 'Burak', [4, 9, 2, 'Bursa']]

In [212]:
# Strings are immutable, they cannot be changed.

list_3 [5][0] = 'A'

TypeError: 'str' object does not support item assignment

In [213]:
list = [1, 2, 3, 'Python', True]

In [214]:
# Adding an element
list.append(4)
print(list) # Output: [1, 2, 3, 'Python', True, 4]

# Inserting at a specific location
list.insert(2, "New")
print(list) # Output: [1, 2, 'New', 3, 'Python', True, 4]

# Removing an element
list.remove("Python")
print(list) # Output: [1, 2, 'New', 3, True, 4]

# Removing the last element
list.pop()
print(list) # Output: [1, 2, 'New', 3, True]

# Sorting
numbers = [5, 2, 9, 1]
numbers.sort()
print(numbers) # Output: [1, 2, 5, 9]

# List concatenation
list2 = ["a", "b", "c"]
concatenation = list + list2
print(concatenation) # Output: [1, 2, 'New', 3, True, 'a', 'b', 'c']

[1, 2, 3, 'Python', True, 4]
[1, 2, 'New', 3, 'Python', True, 4]
[1, 2, 'New', 3, True, 4]
[1, 2, 'New', 3, True]
[1, 2, 5, 9]
[1, 2, 'New', 3, True, 'a', 'b', 'c']

In [215]:
# List definition
my_list = [1, 2, 3, 4, 5]

# insert() - Insert an element at a specified position
my_list.insert(2, 99)
print(my_list) # [1, 2, 99, 3, 4, 5, 6, 7, 8]

# remove() - Delete an element
my_list.remove(99)
print(my_list) # [1, 2, 3, 4, 5, 6, 7, 8]

# index() - Returns the index of an element
print(my_list.index(4)) # 3

# clear() - Deletes all elements
my_list.clear()
print(my_list) # []

[1, 2, 99, 3, 4, 5]
[1, 2, 3, 4, 5]
3
[]

In [216]:
# count()
# Checks how many characters are in the list. Returns an integer.

listx = [3, 6, 9, 'a', 'b', 'c', 3, 3, 6]
listx.count(3)

3

In [217]:
# Attention! It counted not only False values ​​but also those other than False whose mathematical value is equal to 0.

listy = [0, False, True, 89, 'kemal','elena','True', 1, True, 0.0,'']
listy.count (False)

3

!!! False 0, True 1 is the basic logic, it works like this in all operations.

In [218]:
listy.count (True)

3

**Tuples: Immutable Collections**

A tuple is an ordered but immutable collection of data.

Bunch Definition

In [219]:
tuple = (1, 2, 3, "Python")

**Tuple Properties**

- Cannot be changed: You will get an error when elements are added or deleted.
- Indexable: Accessible by index.

In [220]:
print(tuple[0])

1

**Bunch Methods**

In [221]:
# Number of elements
print(len(tuple)) 

# Existence of an element
print("Python" in tuple)

4
True

In [222]:
# Tuple definition
my_tuple = (1, 2, 3, 4, 5)

# count() - Returns the number of times an element occurs in the tuple
print(my_tuple.count(2))

# index() - Returns the index of an element
print(my_tuple.index(3))

1
2

**Dictionaries (dict): Key-Value Pairs**

A dictionary is a collection of data consisting of key and value pairs.

- Mutable -> changeable.
- Elements are in the form key: value.
- Keys must be unique, if you define more than one, it will overwrite.
- Values ​​do not have to be unique, repeated data can be used.
- Unordered is not indexed as 0, 1, we can call values ​​using their keys.
- {}, dict() -> We can create a dictionary.

**Dictionary Definition**

In [223]:
dictionary = {"name": "Alice", "age": 25, "occupation": "Engineer"}

**Sözlük İşlemleri**

In [225]:
# Access the value
print(dictionary["name"]) 

# Add new key-value
dictionary["city"] = "Istanbul"
print(dictionary) 

# Delete key or value
dictionary.pop("age")
print(dictionary) 

# Get all keys or values
print(dictionary.keys()) 
print(dictionary.values())

Alice
{'name': 'Alice', 'age': 25, 'occupation': 'Engineer', 'city': 'Istanbul'}
{'name': 'Alice', 'occupation': 'Engineer', 'city': 'Istanbul'}
dict_keys(['name', 'occupation', 'city'])
dict_values(['Alice', 'Engineer', 'Istanbul'])

In [226]:
# Define a dictionary
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

# keys() - Returns the keys
print(my_dict.keys()) # dict_keys(['name', 'age', 'city'])

# values() - Returns the values
print(my_dict.values()) # dict_values(['Alice', 25, 'New York'])

# items() - Returns key-value pairs
print(my_dict.items()) # dict_items([('name', 'Alice'), ('age', 25), ('city', 'New York')])

# get() - Returns the value of a specific key
print(my_dict.get('name')) # Alice

# update() - Compare the dictionary with another dictionary updates
my_dict.update({'age': 26, 'country': 'USA'})
print(my_dict) # {'name': 'Alice', 'age': 26, 'city': 'New York', 'country': 'USA'}

# pop() - Deletes the specified key and returns its value
removed = my_dict.pop('city')
print(removed) # New York
print(my_dict) # {'name': 'Alice', 'age': 26, 'country': 'USA'}

# popitem() - Deletes the last added key-value pair
print(my_dict.popitem()) # ('country', 'USA')

# clear() - Deletes all elements
my_dict.clear()
print(my_dict) # {}

dict_keys(['name', 'age', 'city'])
dict_values(['Alice', 25, 'New York'])
dict_items([('name', 'Alice'), ('age', 25), ('city', 'New York')])
Alice
{'name': 'Alice', 'age': 26, 'city': 'New York', 'country': 'USA'}
New York
{'name': 'Alice', 'age': 26, 'country': 'USA'}
('country', 'USA')
{}

In [227]:
# Nested dicts
my_family = {'father' : {'name':'Jason', 'age':50, 'job':'Retired'}, 
             'mother' : {'name':'Anna', 'age':45, 'job':'Teacher'},
             'sibling' :{'name':'Jennifer', 'age':20, 'job':'ML Engineer'}}

print (my_family.keys())
print (my_family.values())

dict_keys(['father', 'mother', 'sibling'])
dict_values([{'name': 'Jason', 'age': 50, 'job': 'Retired'}, {'name': 'Anna', 'age': 45, 'job': 'Teacher'}, {'name': 'Jennifer', 'age': 20, 'job': 'ML Engineer'}])

**Sets (set and frozenset): Unique Collections**

Sets are composed of unordered and unique elements. A set is mutable, while a frozenset is immutable.

- Corresponds to the subject of sets in mathematics.
- Its elements are unique.
- Unordered -> There is no specific order.
- It cannot be indexed
- It is iterable -> Elements can be accessed one by one
- Mutable -> Can be changed without assignment
- {}, set()
- The elements of a set must be hashable, that is, it cannot contain elements that can be changed like lists or other sets.

**Cluster Definition**

In [228]:
string = {1, 2, 3, 3, 4}
print(string)

{1, 2, 3, 4}

In [229]:
kit1 = {1, 2, 3}
kit2 = {3, 4, 5}

# Union
print(kit1 | kit2) 

# Intersection
print(kit1 & kit2) 
# Difference
print(kit1 - kit2)

{1, 2, 3, 4, 5}
{3}
{1, 2}

In [230]:
# Define a set
my_set = {1, 2, 3, 4, 5}

# add() - Adds an element
my_set.add(6)
print(my_set) # {1, 2, 3, 4, 5, 6}

# remove() - Deletes an element (If there is no element, it gives an error)
my_set.remove(3)
print(my_set) # {1, 2, 4, 5, 6}

# discard() - Deletes an element (If there is no element, it does not give an error)
my_set.discard(10)

# pop() - Deletes a random element and returns
print(my_set.pop()) # Example: 1
print(my_set) # Remaining set

# union() - Union (same as set1 | set2)
set2 = {4, 5, 6, 7}
print(my_set.union(set2)) # {2, 4, 5, 6, 7}

# intersection() - Intersection (same as set1 & set2)
print(my_set.intersection(set2)) # {4, 5, 6}

# difference() - Difference (same as set1 - set2)
print(my_set.difference(set2)) # {2}

# issubset() - Subset check
print({1, 2}.issubset(my_set)) # True or False

# clear() - Clears all elements
my_set.clear()
print(my_set) # set()

# frozenset - Unchangeable set
my_frozen_set = frozenset([1, 2, 3])
print(my_frozen_set) # frozenset({1, 2, 3})

{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}
1
{2, 4, 5, 6}
{2, 4, 5, 6, 7}
{4, 5, 6}
{2}
False
set()
frozenset({1, 2, 3})

In [231]:
# update
set1 = set('Alice')
set2 = set('Jake')
print (set1)
print(set2)

{'A', 'l', 'c', 'i', 'e'}
{'k', 'a', 'e', 'J'}

In [232]:
# Update and something new happened, added set2 to set1.

set1.update(set2)
set1

{'A', 'J', 'a', 'c', 'e', 'i', 'k', 'l'}

**Summary**

These data structures are one of Python's powerful features, and each is designed for different purposes:

- String: Text processing.
- List: Dynamic, ordered data collection.
- Tuple: Immutable, ordered data collection.
- Dict: Key-value mapping.
- Set: Unique, unordered data collection.

You can write efficient and organized code using each data structure according to your needs.

### Union, Intersection, Difference

**Union**
Definition:

Union combines the elements of two or more sets and creates a new set in which each element appears only once.

Usage:
set1.union(set2) or set1 | set2

In [233]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Union
union_set = set1.union(set2)
print(union_set) 

# Alternatively
print(set1 | set2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

**Intersection**

Definition:
Intersection finds the common elements of two sets and returns a new set consisting of these elements.

Usage:
set1.intersection(set2) or set1 & set2

In [234]:
# Analyze the text message provided by the user and provide the following information:

# Total number of words
# Total number of sentences
# Total number of characters

message = input("Please enter your message:")

word_count = len(message.split())

sentence_count = message.count("!") + message.count("?") + message.count(".")

char_count = len(message)

print(f"Your message: {message}")
print(f"Total Word Count: {word_count}, Total Sentence Count: {sentence_count}, Character Count: {char_count}")

Your message: Hi!
Total Word Count: 1, Total Sentence Count: 1, Character Count: 3

**Difference**

Definition:
Difference returns elements that are in one set but not in the other.

Usage:
set1.difference(set2) or set1 - set2

In [235]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Difference (Difference)
difference_set = set1.difference(set2)
print(difference_set) # {1, 2} (elements in set1 but not in set2)

# Alternatively
print(set1 - set2) # {1, 2}

{1, 2}
{1, 2}

In [236]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Union
print(set1.union(set2, set3)) # {1, 2, 3, 4, 5, 6, 7}

# Intersection
print(set1.intersection(set2, set3)) # {} (None in common)

# Difference
print(set1.difference(set2, set3)) # {1, 2}

{1, 2, 3, 4, 5, 6, 7}
set()
{1, 2}

In [239]:
# Creating a palindrome query

entry = input("Please enter a word or sentence:")

clean_entry = entry.lower().replace(" ", "")

reverse_entry = clean_entry[::-1]

if clean_entry == reverse_entry:
    print(f"'{entry}' is a palindrome.")
else:
    print(f"'{entry}' is not a palindrome.")

'level' is a palindrome.

In [240]:
# An application that allows students to list and track their exam dates, homework, and projects

task = []

task.append(["Math Exam", "2024-10-15", False])
task.append(["Physics Homework", "2024-10-25", False])
task.append(["Chemistry Project", "2024-10-20", False])

print("Exam and Homework List:")
print(f"Task 1: {task[0][0]}, Deadline: {task[0][1]}, Completed: {task[0][2]}")
print(f"Task 2: {task[1][0]}, Deadline: {task[1][1]}, Completed: {task[1][2]}")
print(f"Task 3: {task[2][0]}, Deadline: {task[2][1]}, Completed: {task[2][2]}")

task[1][2] = True

print("Updated Exam and Homework List:")
print(f"Task 1: {task[0][0]}, Deadline: {task[0][1]}, Completed: {task[0][2]}")
print(f"Task 2: {task[1][0]}, Deadline: {task[1][1]}, Completed: {task[1][2]}")
print(f"Task 3: {task[2][0]}, Deadline: {task[2][1]}, Completed: {task[2][2]}")

Exam and Homework List:
Task 1: Math Exam, Deadline: 2024-10-15, Completed: False
Task 2: Physics Homework, Deadline: 2024-10-25, Completed: False
Task 3: Chemistry Project, Deadline: 2024-10-20, Completed: False
Updated Exam and Homework List:
Task 1: Math Exam, Deadline: 2024-10-15, Completed: False
Task 2: Physics Homework, Deadline: 2024-10-25, Completed: True
Task 3: Chemistry Project, Deadline: 2024-10-20, Completed: False